@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
a:link,a:visited{
    color: #333;
    text-decoration: none;
}
a{
    cursor: pointer;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
li{
    list-style: none;
}

/* header  */
.header_wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.top_ban_kakao{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}
.top_ban_kakao{
    background-color: #FCCE00;
    justify-content: center;
}


/* header nav  */
nav{
    width: 100%;
    background-color: #fff;
}
.nav_wrap{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
}
.nav_util{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.nav_util .logo{
    display: flex;
    align-items: center;
}
.nav_util .logo p{
    color: #1C3761;
    margin-left: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}
.nav_util a img{
    width: 10rem;
}
.joinlist{
    display: flex;
}
.joinlist a{
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}
.joinlist a:nth-child(4){
    color: #e84200;
}
.joinlist a:nth-child(5){
    display: flex;
}
.joinlist a:nth-child(5) i{
    padding-right: 2px;
}
.joinlist a:nth-child(5) .count{
    color: #ffc303;
    background-color: #1c3762;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 100%;
}
/* search_modal */
.modal.search_modal{
    position: fixed;
    background: rgba(0,0,0,0.5) url(../img/bg_search.png) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 170px;
    left: 0;
    z-index: 50;
    display: none;
}
.modal.search_modal .search_close{
    position: absolute;
    right: 28%;
    top: 30%;
    cursor: pointer;
}
.modal.search_modal .search_close img{
    width: 1.1rem;
}
.modal.search_modal .search_input{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.modal.search_modal .search_input input[type="text"]{
    width: 94%;
    line-height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    color: #fff;
}
.modal.search_modal .search_input .search_icon{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.modal.search_modal .search_input ul{
    padding-top: 30px;
}
.modal.search_modal .search_input ul li{
    float: left;
}
.modal.search_modal .search_input ul li a{
    line-height: 40px;
    text-align: center;
    display: block;
    padding: 0 20px;
    background: #ffc303;
    border-radius: 10px;
    margin: 0 4px 4px 0;
    font-size: 20px;
}
.search_section form{
    border-bottom: 1px solid #fff;
    margin-right: 32px;
}


/* nav_menu */
.nav_menu{
    min-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-right: 20px;
    background-color: #1c3761;
}
.nav_menu ul{
    display: flex;
    justify-content: space-around;  
}
.nav_menu ul li{
    position: relative;
}
.nav_menu > ul > li > a{
    padding: 0 24px;
    display: block;
    line-height: 60px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 1.1rem;
}
.nav_menu > ul > li:first-child > a{
    padding: 0 20px;
}
.nav_menu > ul > li:last-child > a{
    color: #FCCE00;
}

/* submenu  */
.nav_menu .submenu{
    top: 60px;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1c3761;
    transition: 0.8s;
    top: -400%;
    z-index: -1;
}
.nav_menu .submenu > li{
    width: 100%;
}
.nav_menu .submenu li a{
    color: #fff;
    display: block;
    font-size: 16px;
}
.nav_menu .submenu > li > a{
    line-height: 36px;
    text-align: center;
    /* z-index: 1000; */
}
.nav_menu .submenu .snav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nav_menu .submenu .snav li{
    line-height: 24px;
}
.nav_menu .submenu .snav a{
    color: #cfcfcf;
    font-weight: 300;
    padding-left: 20px;
}
.nav_menu > ul > li:hover > .submenu{
    top: 60px;
}

/* main  */
#main{
    padding-top: 170px;
}
/* main_visual  */
.visual_slide{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.visual_slide .slider01{
    position: absolute;
    width: 100%;
}
.visual_slide .slider01 li{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.main_visual img{
    width: 100%;
}
.main_visual .slider01 li:first-child{
    background-image: url(../img/main/wiggle-pc.gif);
}
.main_visual .slider01 li:nth-child(2){
    background-image: url(../img/main/bathtub_pc.gif);
}
.main_visual .slider01 li{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* main_new  */
.main_new img{
    display: none;
}
.main_new li{
    width: 640px;
    float: left;
}
/* wiggle_ban  */
.wiggle_ban{
    width: 100%;
    cursor: pointer;
}

/* main-best */
.main_best{
    max-width: 1280px;
    margin: 6.25rem auto 0 auto;
}
.section_title_wrap{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.section_title_wrap h3{
    width: 280px;
    line-height: 40px;
    text-align: center;
    background-color: #213f85;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 10px;
    margin-bottom: 10px;
}
.section_title_wrap h2{
    font-size: 2rem;
}
/* main-best item-wrap */
.best_item_wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem
    /* flex-wrap: wrap; */
}
.best_item_wrap li{
    flex-grow: ;
}
.best_item_wrap .product_wrap{
    background-color: #f2f2f2;
}

.best_item_wrap .thumbs_wrap:hover{
    transform: scale(1.05);
}
.best_item_wrap .thumbs_wrap{
    position: relative;
    transition: ease-in-out 0.5s;
}



.best_item_wrap .thumbs_wrap .item_img{
    max-width: 50%;
}
.best_item_wrap .name{
    text-align: center;
    margin-bottom: 20px;
}
.best_item_wrap .name a{
    font-weight: 600;
}

.best_item_wrap .price_wrap{
    text-align: center;
}
.best_item_wrap .price_wrap h4{
    color: #b1b1b1;
    text-decoration: line-through;
}
.best_item_wrap .price_wrap h3{
    margin-top: 5px;
    margin-bottom: 10px;
}

.best_item_wrap li .name{
    margin-bottom: 20px;
}
.best_item_wrap li .name a{
    font-size: 1.3rem;
}
.best_item_wrap li .price_wrap a{
    height: 40px;
    background-color: #213f85;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px 10px;
    margin-bottom: 40px;
}

/* main_brand  */
.main_brand{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 6.25rem;
}

.brand_content{
    padding: 0 16px;
}
.brand_content .top,
.brand_content .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand_content img{
    width: 50vw;
    max-width: 50%;
}
.brand_content .txt_wrap{
    text-align: center;
}
.brand_content .top .txt_wrap{
    padding-left: 16px;
    padding-top: 20px;
}
.brand_content .txt_wrap h2{
    margin-bottom: 40px;
    font-size: 2rem;
}
.brand_content .txt_wrap p{
    padding-bottom: 20px;
}
.brand_content .bottom .txt_wrap{
    padding-right: 16px;
}

/* well-fit ban  */
.well-fit_ban{
    width: 100%;
    cursor: pointer;
    margin-top: 6.25rem;
}

@media screen and (max-width:992px){

     

    /* best_item */
    .best_item_wrap{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem
        /* flex-wrap: wrap; */
    }
    /* main_brand */
    .main_brand{
        width: 100vw;
    }
    .main_brand .title_wrap{
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .brand_content .top{
        flex-direction: column;
    }
    .brand_content .bottom{
        flex-direction: column-reverse;
    }
    .brand_content .top .txt_wrap{
        padding-top: 0;
        margin-left: 0;
    }
    .brand_content .txt_wrap h2{
        margin-top: 20px;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .brand_content .txt_wrap p{
        font-size: 14px;
    }
}
@media screen and (max-width:767px){}