@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
a:link,a:visited{
    color: #333;
    text-decoration: none;
}
a{
    cursor: pointer;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
li{
    list-style: none;
}

/* header  */
.header_wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.top_ban_kakao,
.top_ban_tell{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.top_ban_kakao{
    background-color: #FCCE00;
    justify-content: center;
}
.top_ban_tell{
    justify-content: space-between;
    background-color: #213F85;
}
.top_ban_tell_info{
    margin-left: 16px;
}
.top_ban_tell_slo{
    margin-right: 16px;
}
.top_ban_tell_info a,
.top_ban_tell_slo a{
    color: #fff;
}

/* header nav  */
nav{
    width: 100%;
    background-color: #fff;
}
.nav_wrap{
    width: 1280px;
    margin: 0 auto;
}
.nav_util{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: flex-end;
}
.nav_util a img{
    width: 12rem;
}
.joinlist a{
    margin-left: 1rem;
}

.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.nav_menu ul li{
    float: left;
}
.nav_menu ul li a{
    padding: 0 42px;
    display: block;
    line-height: 60px;
    color: #113F89;
    font-weight: bold;
}
.nav_menu ul li:first-child a{
    padding-left: 0;
}

.nav_search{
    display: flex;
    align-items: flex-end;
}
.nav_search form{
    border-bottom: 1px solid #000;
    margin-right: 16px;
}
.nav_search form legend{
    display: none;
}
.nav_search_input input{
    border: none;
}
.nav_search_input img{
    width: 1.1rem;
}

.nav_search .cart a{
    display: flex;
    align-items: center;
}
.nav_search .cart img{
    width: 1.5rem;
}

/* main  */
#main{
    padding-top: 210px;
}
/* main_visual  */
.main_visual .visual_slide{
    position: relative;
    width: 100vw;
    height: 860px;
    overflow: hidden;
}
.main_visual .slider01{
    position: absolute;
    left: 0;
    top: 0;
}
.main_visual li{
    width: 100%;
    height: 860px;
    float: left;
}

/* main_new  */
.main_new .new_slide{
    position: relative;
    width: 100vw;
    height: 279px;
    overflow: hidden;
}
.main_new .slider02{
    position: absolute;
    left: 0;
    top: 0;
}
.main_new li{
    width: 640px;
    float: left;
}
/* wiggle_ban  */
.wiggle_ban{
    width: 100vw;
    cursor: pointer;
}

/* main-best */
.main_best{
    margin: 100px 0 100px 0;
}
.main_best .best_item{
    max-width: 1280px;
    width: 100vw;
    margin: 0 auto;
}
.best_item .title_wrap{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.best_item .title_wrap h3{
    width: 200px;
    line-height: 30px;
    text-align: center;
    background-color: #213f85;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 10px;
}
.best_item .title_wrap h2{
    font-size: 1.5rem;
}

.item_wrap ul li:first-child{
    width: 50%;
}
.item_wrap ul li{
    width: 25%;
}
.item_wrap .thumbs_wrap:hover{
    transform: scale(1.05);
}
.item_wrap .thumbs_wrap{
    position: relative;
    transition: ease-in-out 0.5s;
}
.item_wrap .thumbs_wrap .num_box{
    position: absolute;
    top: 16px;
    left: 16px;
}
.item_wrap .thumbs_wrap .num_box p{
    position: absolute;
    top: 8px;
    left: 22px;
    font-size: 2.5rem;
}
.item_wrap .thumbs_wrap .num_box img{
   width: 57px;
}
.item_wrap .thumbs_wrap .item_img{
    width: 100vw;
    max-width: 100%;
}
.item_wrap .name{
    text-align: center;
    margin-bottom: 20px;
}
.item_wrap .name a{
    font-weight: 600;
}

.item_wrap .price_wrap{
    text-align: center;
}
.item_wrap .price_wrap h4{
    color: #b1b1b1;
    text-decoration: line-through;
}
.item_wrap .price_wrap h3{
    margin-top: 5px;
    margin-bottom: 10px;
}

.title_wrap ul li:first-child{
    padding-bottom: 30px;
}
.item_wrap .thumbs_wrap .num_box img{
    width: 19%;
}
.item_wrap ul li:first-child .icon img{
    position: absolute;
    width: 77px;
    top: 50px;
}
.item_wrap ul li:first-child .icon_new{
    left: 100px;
}
.item_wrap ul li:first-child .icon .icon_delivery{
    left: 180px;
    width: 82px;
}
.item_wrap ul li:first-child .name{
    margin-bottom: 20px;
}
.item_wrap ul li:first-child .name a{
    font-size: 1.3rem;
}
.item_wrap ul li:first-child .item_img{
}
.item_wrap ul li:first-child .price_wrap a{
    height: 40px;
    background-color: #213f85;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px 10px;
    margin-bottom: 40px;
}

/* well-fit ban  */
.well-fit_ban{
    width: 100vw;
    cursor: pointer;
}

/* main_brand  */
.main_brand{
    width: 1280px;
    margin: 0 auto;
}
.main_brand .title_wrap{
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.main_brand .title_wrap h3{
    width: 280px;
    line-height: 40px;
    text-align: center;
    background-color: #213f85;
    color: #fff;
    font-size: 1.4rem;
    border-radius: 10px;
    margin-bottom: 10px;
}
.main_brand .title_wrap h2{
    font-size: 2rem;
}

.brand_content .top{
    display: flex;
    align-items: center;
}
.brand_content .top img{
    width: 50vw;
    max-width: 50%;
}
.brand_content .top .txt_wrap{
    text-align: center;
    margin-left: 16px;
    padding-top: 20px;
}
.brand_content .top .txt_wrap h2{
    margin-bottom: 40px;
    font-size: 2rem;
}
.brand_content .top .txt_wrap p{
    font-size: 1.2rem;
    padding-bottom: 20px;
}

@media screen and (max-width:992px){
    .main_visual li img{
    }

    .main_brand{
        width: 100vw;
    }
    .main_brand .title_wrap{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .brand_content .top{
        flex-direction: column;
        justify-content: center;
    }
    .brand_content .top .txt_wrap{
        padding-top: 0;
        margin-left: 0;
    }
    .brand_content .top .txt_wrap h2{
        margin-top: 20px;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .brand_content .top .txt_wrap p{
        font-size: 14px;
    }
}
@media screen and (max-width:767px){}