@charset "utf-8";
#header{min-width: 980px;}
.headerWrap{background: #075FA2 url(../images/top_bg01.jpg) no-repeat center;}
.top{
    width: 980px;margin: 0 auto;
    display: flex;justify-content: space-between;align-items: center;
}

input[type="text"]:focus{outline: none;}
form[action="#"]{position: relative;}
.searchTitle{
    background-image: url(../images/search_text.jpg);
    background-repeat: no-repeat;
    background-position: -1px ;
    height: 18px;width: 58px;
    position: absolute;top: 6px;left: 5px;
    text-indent: -9999px;
}
.searchInp{
    width: 290px;height: 30px;
    border-radius: 15px;font-size: 13px;
    border: 0 none;text-indent: 80px;
}
.searchBtn{
    width: 25px;height: 20px;
    background-image: url(../images/search_icon.jpg);
    background-repeat: no-repeat;
    background-color: #fff;
    border: 0;cursor: pointer;
    position: absolute;
    text-indent: -9999px;
    right: 12px;top: 5px;
}

.tel_sns>h3,.tel_sns>ul{float: left;}
.tel_sns>ul{margin-left: 16px;}
.sns>li{
    width: 34px;height: 30px;
    background-image: url(../images/sns_img.png);
    background-size: 212px 154px;
    float: left;
}
.sns>li>a{display: block;height: 30px;text-indent: -9999px;}
.sns>li:nth-child(1){background-position: -7px -9px;}
.sns>li:nth-child(2){background-position: -169px -9px;}
.sns>li:nth-child(3){background-position: -88px -80px;}
.sns>li:nth-child(4){background-position: -88px -9px;}

.nav{background: #E5E5E5;}
.gnb{margin: 0 auto;width: 980px;}
.gnb>li{
    float: left;width: calc(100% / 6);
    text-align: center;line-height: 64px;
    border-right: 1px solid #dfdfdf;
}
.gnb>li:nth-child(1){border-left: 1px solid #dfdfdf;}

/* contents  */
.contents{
    height: 1390px; /* 나중에지우기  */
    background:url(../images/body_bgi.png) no-repeat;
    background-size: cover;
}
/* sec1 */
.contents>.sec1{
    margin: 0 auto;width: 980px;
}

.slide1{width: 482px;}
.slide1>.slider{}


