@charset "utf-8";

body{background:url(../images/body_bgi.png) no-repeat;
    background-size: cover;}
/* common  */
.pb7{padding-bottom: 7px;}
.pb24{padding-bottom: 24px;}
.pt7{padding-top: 7px;}


#header{min-width: 980px;}
.headerWrap{background: #075FA2 url(../images/top_bg01.jpg) no-repeat center;}
.top{
    width: 980px;margin: 0 auto;
    display: flex;justify-content: space-between;align-items: center;
}

input[type="text"]:focus{outline: none;}
form[action="#"]{position: relative;}
.searchTitle{
    background-image: url(../images/search_text.jpg);
    background-repeat: no-repeat;
    background-position: -1px ;
    height: 18px;width: 58px;
    position: absolute;top: 6px;left: 5px;
    text-indent: -9999px;
}
.searchInp{
    width: 290px;height: 30px;
    border-radius: 15px;font-size: 13px;
    border: 0 none;text-indent: 80px;
}
.searchBtn{
    width: 25px;height: 20px;
    background-image: url(../images/search_icon.jpg);
    background-repeat: no-repeat;
    background-color: #fff;
    border: 0;cursor: pointer;
    position: absolute;
    text-indent: -9999px;
    right: 12px;top: 5px;
}

.tel_sns>h3,.tel_sns>ul{float: left;}
.tel_sns>ul{margin-left: 16px;}
.sns>li{
    width: 34px;height: 30px;
    background-image: url(../images/sns_img.png);
    background-size: 212px 154px;
    float: left;
}
.sns>li>a{display: block;height: 30px;text-indent: -9999px;}
.sns>li:nth-child(1){background-position: -7px -9px;}
.sns>li:nth-child(2){background-position: -169px -9px;}
.sns>li:nth-child(3){background-position: -88px -80px;}
.sns>li:nth-child(4){background-position: -88px -9px;}

.nav{background: #E5E5E5;}
.gnb{margin: 0 auto;width: 980px;}
.gnb>li{
    float: left;width: calc(100% / 6);
    text-align: center;line-height: 64px;
    border-right: 1px solid #dfdfdf;
}
.gnb>li:nth-child(1){border-left: 1px solid #dfdfdf;}
.gnb a{display: block;}
.gnb a:hover{background-color: #fff;}

.nav>ul>li>a:active{background: pink;}

/* contents  */
.contents{height: 1390px;} /* 나중에지우기  */   

/* sec1 */
.contents>.sec1{
    margin: 56px auto;width: 980px;
    position: relative;
}
.sec1 .left,.sec1 .right{width: 50%;float: left;}

/* sec1 slide_01  */
/* .sec1 .slide_01 .bx-clone{display: none;} */
.sec1 .slide_01{
    position: relative;
    width: 482px;
    height: 300px;
    background: #fff;
    overflow: hidden;
}
.sec1 .sliderWrap{
    width:280px;
    float: right;margin-top: 26px;margin-right: 32px;
}

.sec1 .sliderWrap .slider_01>li{height: 300px;}



/* sec1 form  */
fieldset{border: 0;}
legend{display: block;position: absolute;left: 0;top: -9999px;}
.form{width: 280px;height: 252px;float: right;}
.form label{display: block;font-size: 14px;color: #404040;font-weight: bold;}
.form fieldset>ul>li:nth-child(1)>select{
    width: 276px;height: 32px;
    border-radius: 2px;
    font-size: 14px;color: #C8C8C8;
    border: 1px solid #C8C8C8;
}
.form .left1,.form .right1,.form .left2,.form .right2{float: left;}
.form .left1 input[type="date"],.form .right1 input[type="date"]{width: 131px;height: 31px;}
.form .left1{margin-right: 14px;}

.form .left2 select{width: 116px;height: 32px;}
.form .left2{margin-right: 20px;}
.form .right2 li{float: left;}
.form .right2 li:nth-child(1){margin-right: 6px;}
.form .right2 input{width: 66px;height: 32px;}
.form input[type="submit"]{
    background-image: url(../images/btnSubmit.png);
    text-indent: -9999px;width: 280px;height: 38px;
    background-repeat: no-repeat;
    border: 0;cursor: pointer;
}


/* sec1 pager  */
.sec1 .sliderPager{position: absolute;top: 0;width: 132px;height: 300px;}
.sec1 .bxPager{height: 100%;}
.sec1 .bxPager a{
    display: block;
    height: 75px;
    display: flex;align-items: center;justify-content: center;
    padding-left: 36px;
    background-color: #006599;
    border-top: 1px solid #0078A7;
    background-repeat: no-repeat;
    background-position: 18px 25px;
    color:white;
    font-size: 16px;
}

.sec1 .bxPager a:nth-child(1){border-top: 0;background-image: url(../images/sec1_pager1.png);}
.sec1 .bxPager a:nth-child(2){background-image: url(../images/sec1_pager2.png);}
.sec1 .bxPager a:nth-child(3){background-image: url(../images/sec1_pager3.png);}
.sec1 .bxPager a:nth-child(4){background-image: url(../images/sec1_pager4.png);}

.sec1 .bxPager a.active{background-color: white;background-position: 18px 25px;color:black}
.sec1 .bxPager a:nth-child(1).active{background-image:url(../images/sec1_pager1-2.png);}
.sec1 .bxPager a:nth-child(2).active{background-image:url(../images/sec1_pager2-2.png);}
.sec1 .bxPager a:nth-child(3).active{background-image:url(../images/sec1_pager3-2.png);}
.sec1 .bxPager a:nth-child(4).active{background-image:url(../images/sec1_pager4-2.png);}


/* sec1 아래부분  */
.sec1 .down{margin-top: 16px;}
.sec1 .down>li{float: left;position: relative;}
.sec1 .down>li:nth-child(1){padding-right: 16px;}
.sec1 .down>li>.txt{
    position: absolute;bottom: 0;width: 233px;height: 50px;
    background-color: #152630;
    justify-content: center;display: flex;
    align-items: center;
}
.sec1>.left .txt>h3{float: left;color:white;padding-right: 50px;}
.sec1>.left .txt>p{float: right;color:#6EBD61;}

/* sec1 오른쪽부분  */
.sec1 .right{position: relative;z-index: -1;}
.sec1 .right .txt{padding: 34px 41px;}
.sec1 .right .txt>h1{font-size: 66px;font-weight: bold;color: #14262F;}
.sec1 .right .txt>h3{font-size: 26px;padding-top: 15px;}
.sec1 .right .bal01{
    position: absolute;top: 110px;left: -180px;
    animation-name: bal01;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bal01{
    to{top: 130px;}
}



/* sec2  */
.sec2>ul{margin: 0 auto;width: 980px;}
.sec2>ul>li{width: 233px;height: 242px;float: left;margin-right: 16px;}
.sec2>ul>li:last-child{margin-right: 0;}
.sec2 li:nth-child(3){background: url(../images/sec2_img03.png);}
.sec2 li:nth-child(4){background: url(../images/sec2_img04.png);}
.sec2 li{position: relative;}
.sec2 .txtWrap{width: 233px;height: 66px;position: absolute;bottom: 0;color: white;}

.sec2 .slider_02 .txtWrap{background: #529351;}
.sec2 .slider_03 .txtWrap{background: #152630;}
.sec2>ul>li:nth-child(3) .txtWrap{background: rgba(0,0,0,0.7);}
.sec2>ul>li:nth-child(4) .txtWrap{background: rgba(22,68,187,0.7);}

.sec2 .txt{
    width: 233px;height: 66px;
    position: absolute;left: 18px;top: 8px; 
}

.sec2 .slider_02 h3 a,.sec2 .slider_03 h3 a{font-weight: lighter;letter-spacing: -1px;font-size: 16px;color: white;}

.sec2 .slider_02 .star01-1,.sec2 .slider_02 .star01-2,.sec2 .slider_02 .star01-3{color: orange;}
.sec2 .slider_02 .star01-4,.sec2 .slider_02 .star01-5{color: white;}
.sec2 .slider_02 .star02-1,.sec2 .slider_02 .star02-2,.sec2 .slider_02 .star02-3,.sec2 .slider_02 .star02-4{color: orange;}
.sec2 .slider_02 .star02-5{color: white;}
.sec2 .slider_02 .star03-1,.sec2 .slider_02 .star03-2,.sec2 .slider_02 .star03-3,.sec2 .slider_02 .star03-4,.sec2 .slider_02 .star03-5{color: orange;}

.sec2 .slider_03 .star01-1,.sec2 .slider_03 .star01-2,.sec2 .slider_03 .star01-3,.sec2 .slider_03 .star01-4,.sec2 .slider_03 .star01-5{color: orange;}
.sec2 .slider_03 .star02-1,.sec2 .slider_03 .star02-2,.sec2 .slider_03 .star02-3,.sec2 .slider_03 .star02-4{color: orange;}
.sec2 .slider_03 .star02-5{color: white;}
.sec2 .slider_03 .star03-1,.sec2 .slider_03 .star03-2,.sec2 .slider_03 .star03-3,.sec2 .slider_03 .star03-4{color: orange;}
.sec2 .slider_03 .star03-5{color: white;}

.sec2 .slider_02{position: relative;}
.sec2 .slider_02 .nextBtn{
    position: absolute;right: 0;
    width: 34px;height: 54px;
    background-color: rgba(0,0,0,0.7);
    background-size: 34px 54px;
}

.sec2>ul>li:nth-child(3) a,.sec2>ul>li:nth-child(4) a{color: white;font-size: 16px;font-weight: lighter;}

.sec2>ul>li:nth-child(3) h1{text-align: center;}
.sec2>ul>li:nth-child(3) p>a{font-size: 14px;}

.sec2>ul>li:nth-child(4) h3>a{font-size: 18px;letter-spacing: -1px;}
.sec2>ul>li:nth-child(4) p>a{font-size: 14px;}

/* footer  */

/* subpage  */
.subContent .subImg{
    height: 200px;
    background: skyblue;
    display: flex;justify-content: center;align-items: center;
}
.subContent .subImgTitle{text-align: center;}
.subContent .subImgTitle h3{font-size: 2em;}
.subContent .subImgTitle h3:after{
    content: "";display: block;
    width: 80%;height: 2px;background: #000;
    margin: 10px auto;
}

/* subpage company  */
.subContent.company .subImg{
    background-image: url(../images/);
}

