@charset "utf-8";

:root{
    --primary-color:#02b3e4;
    --secondary-color:#ff5483;
}
.navbar{
    transition: 0.3s;
}
#headerWrap .bgcolor01{
    background-image: linear-gradient(316deg,#02ccba 0%,#aa7ecd 100%);
    position: absolute;
    width: 100%;
    height: 600px;
    transform: skew(0,-15deg);
    left: 0;
    top: -260px;
}
#headerWrap .video video{
    width: 100%;
    object-fit: fill;
    border-radius: 5px;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.5);
}
#headerWrap .video .txt{
    position: absolute;
    bottom: 10px;
    left: 30px;
}
#headerWrap .card-view{
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.5);
}
.slider .slider-title{
    color: #7d97ad;
    font-size: 14px;
}
.slider .swiper-next{
    height: 38px;
    width: 20px;
    background-image: url(../images/right-arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.slider .row{
    position: relative;
}
.slider .row h4{
    font-weight: normal;
    font-size: 18px;
}
.slider .row p{
    font-weight: bold;
}
.slider .swiper-prev{
    height: 38px;
    width: 20px;
    background-image: url(../images/left-arrow.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.banner .card{
    border: none;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.4);
    cursor: pointer;
}
.banner .card .mask{
    background: rgba(2,240,228,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.3s;
}
.banner .card:hover .mask{
    opacity: 0;
}
.banner .card .card-img{
    position: relative;
}
.advan{
    position: relative;
}
.advan .bgcolor02{
    background-image: linear-gradient(316deg,#02ccba 0%,#aa7ecd 100%);
    position: absolute;
    width: 100%;
    height: 600px;
    transform: skew(0,15deg);
    left: 0;
    top: 150px;
}
.advan .icon{
    width: 80px;
    height: 80px;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.2);
    border-radius: 40px;
    background: #fff;
}
.advan .img-view{
    position: relative;
    height: 400px;
}
.advan .img-view img{
    position: absolute;
    border-radius: 5px;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.2);
}
.advan .img-view .img-1st{
    right: 0;
    top: 0;
    width: 400px;
}
.advan .img-view .img-2nd{
    left: 0;
    bottom: 0;
    width: 300px;
}
.advan .img-view .img-1st-2n{
    top: 0;
    left: 0;
    width: 400px;
}
.advan .img-view .img-2nd-2n{
    right: 10px;
    bottom: 0;
    width: 400px;
}

/* contact  */
.contact{
    background-image: url(../images/contact-cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* subpage */
.subpage{
    background: skyblue;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.subcontent{
    position: relative;
}
/* subpage company */
.subpage.company{
    background-image: url(../images/contact-cover.jpg);
}

/* subpage catalog */
.subpage.catalog{
    background-image: url(../images/nano2.jpg);
}
.navbar.onView{
    background: none;
}

