@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Yeon+Sung&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:visited,
a:link {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

header {
  width: 100%;
  height: 80px;
  background: #121212;
  position: fixed;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navWrap {
  max-width: 1280px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 1rem;
}

header .navWrap .logo {
  width: 158px;
  height: 80px;
  background: url(../images/logo_white.png) no-repeat center center/100%;
  cursor: pointer;
}

header .navWrap .logo a {
  height: 100%;
  display: block;
}

header .navWrap nav {
  width: 100%;
}

header .navWrap nav > ul {
  max-width: 1200px;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navWrap nav > ul > li {
  width: 100%;
  height: 100%;
  line-height: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  color: #f1f1f1;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

header .navWrap nav > ul > li > i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navWrap nav > ul > li:hover {
  color: #ff5a00;
}

header .navWrap nav > ul > li:hover > a {
  color: #ff5a00;
}

header .navWrap nav > ul > li.active {
  color: #ff5a00;
}

header .navWrap nav > ul > li.active > a {
  color: #ff5a00;
}

header .navWrap nav > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #f1f1f1;
}

header .navWrap nav > ul > li > ul.submenu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  position: absolute;
  top: 80px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background: #121212;
}

header .navWrap nav > ul > li > ul.submenu > li {
  width: 100%;
  padding: 1rem;
  line-height: initial;
  z-index: 3;
}

header .navWrap nav > ul > li > ul.submenu > li > a {
  width: 100%;
  display: block;
  text-align: center;
  color: #f1f1f1;
}

header .navWrap nav > ul > li > ul.submenu > li:hover a {
  color: #ff5a00;
}

header .navWrap nav > ul > li > ul.submenu > li.active a {
  color: #ff5a00;
}

header .navWrap nav > ul .lan {
  width: 50px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.5px solid #929292;
}

header .navWrap nav > ul .lan a {
  width: 25px;
  line-height: 25px;
  display: block;
  text-align: center;
  padding: 0;
}

header .navWrap nav > ul .lan a.active {
  background: #ff5a00;
}

header .navWrap nav > ul .lan:hover a {
  color: #f1f1f1;
}

header .toggleMenu {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
}

header .toggleMenu i {
  font-size: 24px;
}

@media (max-width: 1200px) {
  header .navWrap {
    position: relative;
    max-width: initial;
  }
  header .navWrap > nav {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .navWrap > nav > ul {
    display: none;
    background: #333 url(../images/logo_img.png) no-repeat 60vw 24vh/28rem;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
  header .navWrap > nav > ul > li {
    width: unset;
    font-size: 3rem;
    text-align: left;
    padding-left: 1rem;
  }
  header .navWrap > nav > ul > li > i {
    display: none;
  }
  header .navWrap > nav > ul > li a {
    padding-left: 0;
    text-align: left;
    font-size: 3rem;
    color: #f1f1f1;
  }
  header .navWrap > nav > ul > li > ul.submenu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    top: auto;
    position: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: initial;
  }
  header .navWrap > nav > ul > li > ul.submenu li {
    width: auto;
  }
  header .navWrap > nav > ul > li > ul.submenu li:first-child {
    padding-left: 0;
  }
  header .navWrap > nav > ul > li > ul.submenu li a {
    font-size: 1.3rem;
    text-align: left;
    font-size: 1.2rem;
  }
  header .navWrap > nav > ul .lan {
    padding-left: 0;
    margin-left: 1rem;
  }
  header .navWrap > nav > ul .lan a {
    font-size: 1rem;
  }
  header nav.active {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  header nav.active > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .toggleMenu {
    cursor: pointer;
    display: block;
    color: #ff5a00;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .toggleMenu i.close {
    display: none;
  }
}

@media (max-width: 768px) {
  header .navWrap > nav > ul {
    background-position: 42vw 30vh;
  }
  header .navWrap > nav > ul > li {
    font-size: 2rem;
    height: auto;
    line-height: 1;
  }
  header .navWrap > nav > ul > li > a {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  header .navWrap nav > ul > li > a {
    font-size: 1.5rem;
  }
  header .navWrap nav > ul > li > ul.submenu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .navWrap nav > ul > li > ul.submenu > li {
    padding: 0;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  header .navWrap nav > ul > li > ul.submenu > li > a {
    font-size: 1rem;
  }
}

@media (max-width: 431px) {
  header .navWrap nav > ul {
    background-position: 16vw 30vh;
  }
}

footer {
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  color: #fff;
  padding-bottom: 5rem;
}

footer .inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

footer .inner .title {
  font-family: "nanum myeongjo";
  margin-top: 3rem;
  margin-bottom: 10rem;
}

footer .inner .title h2 {
  font-size: 3.75rem;
}

footer .inner .title h2 span {
  color: #ff5a00;
}

footer .inner .con {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 0.5px solid rgba(255, 255, 255, 0.3);
  padding-top: 2rem;
}

footer .inner .con .upCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .inner .con .upCon .list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .inner .con .upCon .list li a {
  font-size: 0.8rem;
  color: #f1f1f1;
  padding: 0 1rem;
  border-right: 1px solid #f1f1f1;
}

footer .inner .con .upCon .list li:first-child a {
  padding-left: 0;
}

footer .inner .con .upCon .list li:last-child a {
  border-right: none;
}

footer .inner .con .upCon .left .familySite {
  width: 140px;
  position: relative;
}

footer .inner .con .upCon .left .familySite ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 240px;
  height: 300px;
  overflow: auto;
  padding: 1rem;
  background: #333;
}

footer .inner .con .upCon .left .familySite ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  padding-bottom: 10px;
}

footer .inner .con .upCon .left .familySite ul li > h4 {
  padding-bottom: 5px;
  font-size: 1rem;
  font-weight: lighter;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

footer .inner .con .upCon .left .familySite ul li a {
  color: #f1f1f1;
  display: block;
  padding: 3px 0 3px 10px;
  font-weight: lighter;
  font-size: 0.9rem;
}

footer .inner .con .upCon .left .familySite ul li:last-child {
  padding-bottom: 0;
}

footer .inner .con .upCon .left .familySite > h4 {
  text-align: center;
  padding: 5px 0;
  line-height: 35px;
}

footer .inner .con .upCon .left .familySite > h4 i {
  color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

footer .inner .con .upCon .left .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .inner .con .upCon .left .sns li a i {
  color: #f1f1f1;
  padding-top: 10px;
}

footer .inner .con .downCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .inner .con .downCon .info h5 {
  font-weight: lighter;
  font-size: 0.8rem;
  color: #c4c4c4;
}

footer .inner .con .downCon .copyRight {
  font-size: 0.8rem;
  color: #c4c4c4;
}

@media screen and (max-width: 1023px) {
  footer .inner .title h2 {
    font-size: 3rem;
  }
  footer .inner .con .upCon .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  footer {
    padding-bottom: 2rem;
  }
  footer .inner .title {
    margin-top: 1rem;
  }
  footer .inner .title h2 {
    font-size: 2.5rem;
  }
  footer .inner .con .upCon {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
  footer .inner .con .upCon .list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 4fr;
        grid-template-columns: 6fr 4fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    padding-bottom: 2rem;
  }
  footer .inner .con .upCon .list li {
    padding-bottom: 1rem;
  }
  footer .inner .con .upCon .list li a {
    padding: 0;
    border-right: none;
  }
  footer .inner .con .upCon .left .familySite {
    width: unset;
  }
  footer .inner .con .upCon .left .familySite ul {
    left: 0;
    bottom: 26px;
    right: auto;
    width: 200px;
  }
  footer .inner .con .upCon .left .familySite ul li h4 {
    font-size: 0.9rem;
  }
  footer .inner .con .upCon .left .familySite ul li a {
    font-size: 0.8rem;
  }
  footer .inner .con .upCon .left .familySite > h4 {
    font-size: 0.9rem;
    padding-top: 0;
    line-height: 1;
  }
  footer .inner .con .upCon .left .sns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 431px) {
  footer .inner .title h2 {
    font-size: 2rem;
  }
  footer .inner .con .upCon .list li a {
    font-size: 0.7rem;
  }
}

body {
  color: #333;
}

main#featuredContents section.location {
  background: #121212;
  padding-top: 80px;
}

main#featuredContents section.location .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

main#featuredContents section.location .con h2 {
  font-size: 3rem;
  color: #f1f1f1;
}

main#featuredContents section.location .con ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main#featuredContents section.location .con ul li {
  padding: 0 1rem;
  border-right: 1px solid #f1f1f1;
  font-size: 0.8rem;
}

main#featuredContents section.location .con ul li:first-child {
  padding-left: 0;
}

main#featuredContents section.location .con ul li:last-child {
  border-right: none;
}

main#featuredContents section.location .con ul li a {
  font-size: 0.8rem;
  color: #f1f1f1;
}

main#featuredContents section.location .con ul li.inactive a {
  color: #888888;
}

main#featuredContents section.location .con ul li.active a {
  color: #ff5a00;
  font-weight: bold;
}

@media (max-width: 1400px) {
  main#featuredContents section.location {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  main#featuredContents section.location .con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main#featuredContents section.location .con h2 {
    font-size: 2rem;
  }
  main#featuredContents section.location .con ul {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 576px) {
  main#featuredContents section.location .con {
    padding: 1rem;
  }
  main#featuredContents section.location .con h2 {
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
  main#featuredContents section.location .con ul {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main#featuredContents section.location .con ul li {
    font-size: 0.5rem;
  }
  main#featuredContents section.location .con ul li a {
    font-size: 0.5rem;
  }
}

main#featuredContents section.contents {
  margin-top: 2rem;
  padding: 20px;
}

main#featuredContents section.contents > ul.tabMenu {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main#featuredContents section.contents > ul.tabMenu li {
  width: 160px;
  line-height: 30px;
  margin-right: 1rem;
}

main#featuredContents section.contents > ul.tabMenu li:last-child {
  margin-right: 0;
}

main#featuredContents section.contents > ul.tabMenu li a {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  color: #aaa;
  text-align: center;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

main#featuredContents section.contents > ul.tabMenu li.on a {
  background: linear-gradient(147deg, #bbcfdf, #e1c79e, #e89e96);
  color: #333;
  font-size: 0.9rem;
}

main#featuredContents section.contents > section.filterContents {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

main#featuredContents section.contents > section.filterContents::after {
  content: "";
  display: block;
  clear: both;
}

main#featuredContents section.contents > section.filterContents article {
  width: 20%;
  float: left;
  overflow: hidden;
  padding: 12px;
}

main#featuredContents section.contents > section.filterContents article .inner {
  width: 100%;
  height: 400px;
  background: #fff;
}

main#featuredContents section.contents > section.filterContents article .inner img {
  width: 100%;
}

main#featuredContents section.contents > section.filterContents article .inner h2 {
  font-weight: bold;
  font-size: 1rem;
  color: #444;
  margin-top: 15px;
  margin-bottom: 10px;
}

main#featuredContents section.contents > section.filterContents article .inner p {
  font: 12px/1.2 "arial";
  color: #777;
}

@media (max-width: 1200px) {
  main#featuredContents section.contents section.filterContents article {
    width: 25%;
  }
  main#featuredContents section.contents section.filterContents article .inner h2 {
    font-size: 0.9rem;
  }
}

@media (max-width: 992px) {
  main#featuredContents section.contents > ul.tabMenu li {
    width: 100px;
  }
  main#featuredContents section.contents > ul.tabMenu li:nth-child(3) {
    width: 160px;
  }
  main#featuredContents section.contents section.filterContents article {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  main#featuredContents section.contents > ul.tabMenu li {
    width: 70px;
  }
  main#featuredContents section.contents > ul.tabMenu li:nth-child(3) {
    width: 160px;
  }
  main#featuredContents section.contents > section.filterContents article .inner {
    height: 310px;
  }
  main#featuredContents section.contents > section.filterContents article .inner h2 {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  main#featuredContents section.contents > ul.tabMenu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main#featuredContents section.contents > ul.tabMenu li {
    margin-top: 1rem;
  }
  main#featuredContents section.contents > section.filterContents article {
    width: 50%;
  }
  main#featuredContents section.contents > section.filterContents article .inner {
    height: 400px;
  }
  main#featuredContents section.contents > section.filterContents article .inner h2 {
    font-size: 1rem;
  }
}

@media (max-width: 431px) {
  main#featuredContents section.contents > ul.tabMenu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main#featuredContents section.contents > section.filterContents article .inner {
    height: 300px;
  }
}
/*# sourceMappingURL=featured.css.map */