* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:visited,
a:link {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

body {
  overflow-x: hidden;
  background: linear-gradient(175deg, #bbcfdf, #e1c79e, #e89e96);
  color: #333;
  font-family: "NanumBarunGothicExtraLight", "NanumBarunGothicLight", "NanumBarunGothic", "NanumBarunGothicBold";
}

header {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header:hover {
  background: #fff;
}

header nav {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .logo img {
  width: 100%;
}

header nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav ul li:hover a {
  color: #ff5a00;
}

header nav ul li a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

main {
  width: 100vw;
}

main section.visual {
  width: 100%;
  position: relative;
}

main section.visual .visualTitle {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

main section.visual .visualTitle p {
  font-size: 2rem;
  font-weight: bold;
}

main section.visual .visualTitle h2 {
  font-size: 4rem;
  color: #ff5a00;
}

main section.visual .swiper-wrapper {
  width: 100vw;
  height: 74vh;
  margin-top: 20vh;
}

main section.visual .swiper-wrapper .swiper-slide {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

main section.visual .swiper-wrapper .swiper-slide .inner {
  width: 100%;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}

main section.visual .swiper-wrapper .swiper-slide .inner img {
  width: 100%;
}

main section.visual .swiper-wrapper .swiper-slide .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 10px;
}

main section.visual .swiper-wrapper .swiper-slide .txt h3 {
  font-size: 2rem;
  color: #111;
  width: 80%;
  margin-right: 30px;
}

main section.visual .swiper-wrapper .swiper-slide .txt p {
  font-size: 0.8rem;
  line-height: 1rem;
}

main section.visual .swiper-wrapper .swiper-slide-active {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

main section.visual .swiper-wrapper .swiper-slide-active .inner {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

main section.visual .swiper-wrapper .swiper-slide-prev .inner,
main section.visual .swiper-wrapper .swiper-slide-next .inner {
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

main section.visual .swiper-wrapper .swiper-slide-prev .txt,
main section.visual .swiper-wrapper .swiper-slide-next .txt {
  display: none;
}

main section.visual .swiper-pagination {
  color: #f1f1f1;
  text-shadow: 3px 3px 7px #000;
  font-size: 1.3rem;
  border-radius: 0.625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -3.75rem;
}

main section.visual .swiper-button-prev {
  left: 16%;
}

main section.visual .swiper-button-next {
  right: 16%;
}

main section.visual .swiper-button-prev,
main section.visual .swiper-button-next {
  color: #ff5a00;
  padding: 30px 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}

main section.whoWeAre {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 9rem;
  margin-bottom: 5rem;
}

main section.whoWeAre h2 {
  font-size: 6rem;
  letter-spacing: 30px;
  color: #ff5a00;
  margin-bottom: 8.125rem;
}

main section.whoWeAre .txt {
  margin-bottom: 6.25rem;
}

main section.whoWeAre .txt p {
  font-size: 2rem;
}

main section.whoWeAre .txt h3 {
  font-size: 4rem;
  color: #ff9700;
}

main section.whoWeAre article h3 {
  font-size: 1.875rem;
}

main section.whoWeAre article h3::after {
  content: "";
  display: block;
  width: 1px;
  height: 6.25rem;
  background: #000;
  margin: 2rem auto;
}

main section.whoWeAre article p {
  font-size: 1.3rem;
  line-height: 2.5rem;
}

main section.business {
  padding: 5rem 1rem !important;
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
}

main section.business .title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.business .title h3 {
  font-size: 2.9rem;
  padding-right: 10px;
}

main section.business .title button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 3.5rem;
  padding-top: 10px;
  color: #ff5a00;
  padding-right: 10px;
}

main section.business .title button:hover {
  -webkit-animation: moveButton 0.6s linear 1 forwards;
          animation: moveButton 0.6s linear 1 forwards;
}

@-webkit-keyframes moveButton {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@keyframes moveButton {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

main section.business .tvStudio,
main section.business .film,
main section.business .music {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  grid-row: 2/8;
  position: relative;
}

main section.business .film {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
}

main section.business .music {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9/13;
}

main section.business .adSales,
main section.business .performingArts,
main section.business .animation,
main section.business .convention {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 8;
  -ms-grid-row-span: 5;
  grid-row: 8/13;
  position: relative;
}

main section.business .performingArts {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

main section.business .animation {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
}

main section.business .convention {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10/13;
}

main section.business article {
  position: relative;
}

main section.business article::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

main section.business article p {
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #fff;
  display: none;
}

main section.business article img {
  width: 100%;
  height: 100%;
}

main section.business article:hover {
  cursor: pointer;
}

main section.business article:hover::before {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  opacity: 1;
}

main section.business article:hover p {
  display: block;
}

main section.featuredContents {
  padding: 5rem 1rem;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
}

main section.featuredContents .title {
  margin: 0 auto;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main section.featuredContents .title .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.featuredContents .title .txt h3 {
  font-size: 2.9rem;
  padding-right: 10px;
}

main section.featuredContents .title .txt button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 3.5rem;
  padding-top: 10px;
  color: #ff5a00;
  padding-right: 10px;
}

main section.featuredContents .title .txt button:hover {
  -webkit-animation: moveButton 0.6s linear 1 forwards;
          animation: moveButton 0.6s linear 1 forwards;
}

@keyframes moveButton {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

main section.featuredContents .title .slideButton .swiper-button-prev-slide02,
main section.featuredContents .title .slideButton .swiper-button-next-slide02 {
  width: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: #ff5a00;
  font-size: 2rem;
  cursor: pointer;
}

main section.featuredContents .title .slideButton .swiper-button-prev-slide02 {
  right: 30px;
}

main section.featuredContents .slide02 {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  height: 390px;
  overflow: hidden;
}

main section.featuredContents .slide02 .swiper-wrapper {
  width: 100%;
  height: 100%;
}

main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner img {
  width: 100%;
  height: 100%;
}

main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner .overlay {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  padding: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner .overlay .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner .overlay .title h4 {
  font-size: 1.3rem;
  padding-bottom: 5px;
}

main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner .overlay .title p {
  font-size: 0.8rem;
  padding-bottom: 0.8rem;
  color: #c4c4c4;
}

main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner .overlay p {
  line-height: 1.3rem;
}

main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner:hover .overlay {
  height: 50%;
}

main section.latestNews {
  background: rgba(255, 255, 255, 0.4);
}

footer {
  background: #1b1b1b;
  color: #fff;
}

@media screen and (min-width: 1513px) and (max-width: 1839px) {
  main section.visual .visualTitle {
    text-align: center;
  }
  main section.visual .swiper-pagination {
    bottom: 2.25rem;
  }
  main section.featuredContents .slide02 {
    height: 350px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1512px) {
  main section.visual .visualTitle {
    text-align: center;
  }
  main section.visual .swiper-pagination {
    bottom: 8rem;
  }
  main section.featuredContents .slide02 {
    height: 330px;
  }
}

@media screen and (min-width: 1134px) and (max-width: 1439px) {
  main section.visual .visualTitle {
    text-align: center;
  }
  main section.visual .swiper-pagination {
    bottom: 8rem;
  }
  main section.visual .swiper-button-prev,
  main section.visual .swiper-button-next {
    top: 44%;
  }
  main section.visual .swiper-button-prev {
    left: 18%;
  }
  main section.visual .swiper-button-next {
    right: 18%;
  }
  main section.business {
    max-width: 1134px;
  }
  main section.business .title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.business .title h3 {
    font-size: 2.5rem;
  }
  main section.business .tvStudio,
  main section.business .performingArts {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  main section.business .film,
  main section.business .animation {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  main section.business .music,
  main section.business .convention {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
  }
  main section.business .adSales {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10/13;
  }
  main section.business .tvStudio,
  main section.business .film,
  main section.business .music,
  main section.business .adSales {
    -ms-grid-row: 2;
    -ms-grid-row-span: 6;
    grid-row: 2/8;
  }
  main section.business .performingArts,
  main section.business .animation,
  main section.business .convention {
    -ms-grid-row: 8;
    -ms-grid-row-span: 6;
    grid-row: 8/14;
  }
  main section.featuredContents {
    max-width: 1134px;
  }
  main section.featuredContents .title .txt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.featuredContents .title .txt h3 {
    font-size: 2.5rem;
  }
  main section.featuredContents .slide02 {
    height: 300px;
  }
  main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner .overlay {
    height: 26%;
  }
  main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner:hover .overlay {
    height: 26%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1133px) {
  html {
    font-size: 14px;
  }
  main section.visual .visualTitle {
    text-align: center;
  }
  main section.visual .swiper-pagination {
    bottom: 8rem;
  }
  main section.visual .swiper-button-prev,
  main section.visual .swiper-button-next {
    padding: 20px 20px;
  }
  main section.visual .swiper-button-prev::after,
  main section.visual .swiper-button-next::after {
    font-size: 1.5rem;
    font-weight: bold;
  }
  main section.visual .swiper-button-prev {
    left: 18%;
  }
  main section.visual .swiper-button-next {
    right: 18%;
  }
  main section.business {
    padding: 0 !important;
    max-width: 955px;
    -ms-grid-columns: (300px)[3];
        grid-template-columns: repeat(3, 300px);
    -ms-grid-rows: 60px 1fr 1fr 1fr;
        grid-template-rows: 60px 1fr 1fr 1fr;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 200px;
  }
  main section.business .title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    height: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.business .title h3 {
    font-size: 2.5rem;
  }
  main section.business .tvStudio,
  main section.business .adSales,
  main section.business .convention {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  main section.business .film,
  main section.business .performingArts {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  main section.business .music,
  main section.business .animation {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  main section.business .tvStudio,
  main section.business .film,
  main section.business .music {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main section.business .performingArts,
  main section.business .animation,
  main section.business .adSales {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main section.business .convention {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  main section.featuredContents .title {
    max-width: 955px;
  }
  main section.featuredContents .title .txt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.featuredContents .title .txt h3 {
    font-size: 2.5rem;
  }
  main section.featuredContents .slide02 {
    max-width: 955px;
    height: 330px;
  }
  main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner .overlay {
    height: 21%;
  }
  main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner:hover .overlay {
    height: 21%;
  }
}

@media screen and (min-width: 890px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
  main section.visual .visualTitle {
    text-align: center;
  }
  main section.visual .swiper-pagination {
    bottom: 8rem;
  }
  main section.visual .swiper-wrapper {
    margin-top: 5vh;
    height: 100%;
  }
  main section.visual .swiper-wrapper .swiper-slide {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main section.visual .swiper-wrapper .swiper-slide .inner {
    width: 100vw;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt {
    width: 100vw;
    padding: 0 16px;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt h3 {
    margin-right: 0;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  main section.visual .swiper-wrapper .swiper-slide-active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main section.visual .swiper-button-next,
  main section.visual .swiper-button-prev {
    display: none;
  }
  main section.visual .swiper-button-next::after,
  main section.visual .swiper-button-prev::after {
    display: none;
  }
  main section.business {
    padding: 0 !important;
    -ms-grid-columns: (260px)[3];
        grid-template-columns: repeat(3, 260px);
    -ms-grid-rows: 60px 1fr 1fr 1fr;
        grid-template-rows: 60px 1fr 1fr 1fr;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 780px;
    margin-bottom: 100px;
  }
  main section.business .title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.business .title h3 {
    font-size: 2.5rem;
  }
  main section.business .tvStudio,
  main section.business .adSales,
  main section.business .convention {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  main section.business .film,
  main section.business .performingArts {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  main section.business .music,
  main section.business .animation {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  main section.business .tvStudio,
  main section.business .film,
  main section.business .music {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main section.business .performingArts,
  main section.business .animation,
  main section.business .adSales {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main section.business .convention {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  main section.featuredContents .title {
    max-width: 780px;
  }
  main section.featuredContents .title .txt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.featuredContents .title .txt h3 {
    font-size: 2.5rem;
  }
  main section.featuredContents .slide02 {
    max-width: 780px;
    height: 300px;
  }
  main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner .overlay {
    height: 23%;
  }
  main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner:hover .overlay {
    height: 23%;
  }
}

@media screen and (min-width: 744px) and (max-width: 889px) {
  html {
    font-size: 14px;
  }
  main section.visual .visualTitle {
    text-align: center;
  }
  main section.visual .swiper-pagination {
    bottom: 8rem;
  }
  main section.visual .swiper-wrapper {
    margin-top: 5vh;
    height: 100%;
  }
  main section.visual .swiper-wrapper .swiper-slide {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main section.visual .swiper-wrapper .swiper-slide .inner {
    width: 100vw;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt {
    width: 100vw;
    padding: 0 16px;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt h3 {
    margin-right: 0;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  main section.visual .swiper-wrapper .swiper-slide-active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main section.visual .swiper-button-next,
  main section.visual .swiper-button-prev {
    display: none;
  }
  main section.visual .swiper-button-next::after,
  main section.visual .swiper-button-prev::after {
    display: none;
  }
  main section.business {
    margin: 0 auto;
    padding: 0 !important;
    -ms-grid-columns: (260px)[2];
        grid-template-columns: repeat(2, 260px);
    -ms-grid-rows: 60px 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px 1fr 1fr 1fr 1fr;
    max-width: 520px;
    margin-bottom: 360px;
  }
  main section.business .title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.business .title h3 {
    font-size: 2.5rem;
  }
  main section.business .tvStudio,
  main section.business .music,
  main section.business .performingArts,
  main section.business .convention {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  main section.business .film,
  main section.business .adSales,
  main section.business .animation {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  main section.business .tvStudio,
  main section.business .film {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main section.business .music,
  main section.business .adSales {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main section.business .performingArts,
  main section.business .animation {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  main section.business .convention {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  main section.business article::before {
    opacity: 1;
    height: 16%;
  }
  main section.business article p {
    display: block;
  }
  main section.featuredContents .title {
    max-width: 640px;
  }
  main section.featuredContents .title .txt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.featuredContents .title .txt h3 {
    font-size: 2.5rem;
  }
  main section.featuredContents .slide02 {
    max-width: 640px;
    height: 330px;
  }
  main section.featuredContents .slide02 .swiper-wrapper .swiper-slide .inner:hover .overlay {
    height: 20%;
  }
}

@media screen and (min-width: 431px) and (max-width: 743px) {
  html {
    font-size: 14px;
  }
  main section.visual {
    height: 100vh;
  }
  main section.visual .visualTitle {
    width: 100%;
    text-align: center;
    padding-top: 200px;
  }
  main section.visual .visualTitle p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  main section.visual .visualTitle h2 {
    font-size: 3rem;
  }
  main section.visual .swiper-wrapper {
    margin-top: 5vh;
    height: 100%;
  }
  main section.visual .swiper-wrapper .swiper-slide {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main section.visual .swiper-wrapper .swiper-slide .inner {
    width: 100vw;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt h3 {
    margin: 0 0 1rem 0;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  main section.visual .swiper-wrapper .swiper-slide-active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main section.visual .swiper-button-next,
  main section.visual .swiper-button-prev {
    display: none;
  }
  main section.visual .swiper-button-next::after,
  main section.visual .swiper-button-prev::after {
    display: none;
  }
  main section.visual .swiper-pagination {
    bottom: 8rem;
    left: auto;
    right: 1rem;
    top: 56%;
    font-size: 1rem;
    height: 1.5rem;
  }
  main section.whoWeAre {
    margin: auto;
    padding: 0;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 75vh;
  }
  main section.whoWeAre h2 {
    letter-spacing: 5px;
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 6rem;
  }
  main section.whoWeAre .txt {
    margin-bottom: 0;
    padding-bottom: 5rem;
  }
  main section.whoWeAre .txt p {
    font-size: 1.5rem;
  }
  main section.whoWeAre .txt h3 {
    font-size: 2.2rem;
  }
  main section.whoWeAre article h3 {
    font-size: 1.5rem;
  }
  main section.whoWeAre article p {
    font-size: 1rem;
  }
  main section.business {
    max-width: 328px;
    margin: 0 auto;
    padding: 0 !important;
    -ms-grid-columns: (159px)[2];
        grid-template-columns: repeat(2, 159px);
    -ms-grid-rows: 60px 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
  }
  main section.business .title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.business .title h3 {
    font-size: 2rem;
  }
  main section.business .tvStudio,
  main section.business .music,
  main section.business .performingArts,
  main section.business .convention {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  main section.business .film,
  main section.business .adSales,
  main section.business .animation {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  main section.business .tvStudio,
  main section.business .film {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main section.business .music,
  main section.business .adSales {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main section.business .performingArts,
  main section.business .animation {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  main section.business .convention {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  main section.business article::before {
    opacity: 1;
    height: 16%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  main section.business article p {
    display: block;
    top: auto;
    bottom: 5px;
  }
  main section.featuredContents .title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 328px;
  }
  main section.featuredContents .title .txt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.featuredContents .title .txt h3 {
    font-size: 2.1rem;
  }
  main section.featuredContents .title .swiper-button-next-slide02,
  main section.featuredContents .title .swiper-button-prev-slide02 {
    display: none;
  }
  main section.featuredContents .slide02 {
    max-width: 328px;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 14px;
  }
  main section.visual {
    height: 100vh;
  }
  main section.visual .visualTitle {
    width: 100%;
    text-align: center;
    padding-top: 200px;
  }
  main section.visual .visualTitle p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  main section.visual .visualTitle h2 {
    font-size: 3rem;
  }
  main section.visual .swiper-wrapper {
    margin-top: 5vh;
    height: 100%;
  }
  main section.visual .swiper-wrapper .swiper-slide {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main section.visual .swiper-wrapper .swiper-slide .inner {
    width: 100vw;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt h3 {
    margin: 0 0 1rem 0;
  }
  main section.visual .swiper-wrapper .swiper-slide .txt p {
    font-size: 1.1rem;
    line-height: 2rem;
  }
  main section.visual .swiper-wrapper .swiper-slide-active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main section.visual .swiper-button-next,
  main section.visual .swiper-button-prev {
    display: none;
  }
  main section.visual .swiper-button-next::after,
  main section.visual .swiper-button-prev::after {
    display: none;
  }
  main section.visual .swiper-pagination {
    bottom: 8rem;
    left: auto;
    right: 1rem;
    top: 56%;
    font-size: 1rem;
    height: 1.5rem;
  }
  main section.whoWeAre {
    margin: auto;
    padding: 0;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 75vh;
  }
  main section.whoWeAre h2 {
    letter-spacing: 5px;
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 6rem;
  }
  main section.whoWeAre .txt {
    margin-bottom: 0;
    padding-bottom: 5rem;
  }
  main section.whoWeAre .txt p {
    font-size: 1.5rem;
  }
  main section.whoWeAre .txt h3 {
    font-size: 2.2rem;
  }
  main section.whoWeAre article h3 {
    font-size: 1.5rem;
  }
  main section.whoWeAre article p {
    font-size: 1rem;
  }
  main section.business {
    max-width: 328px;
    margin: 0 auto;
    padding: 0 !important;
    -ms-grid-columns: (159px)[2];
        grid-template-columns: repeat(2, 159px);
    -ms-grid-rows: 60px 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
  }
  main section.business .title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.business .title h3 {
    font-size: 2rem;
  }
  main section.business .tvStudio,
  main section.business .music,
  main section.business .performingArts,
  main section.business .convention {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  main section.business .film,
  main section.business .adSales,
  main section.business .animation {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  main section.business .tvStudio,
  main section.business .film {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  main section.business .music,
  main section.business .adSales {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  main section.business .performingArts,
  main section.business .animation {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  main section.business .convention {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  main section.business article::before {
    opacity: 1;
    height: 16%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  main section.business article p {
    display: block;
    top: auto;
    bottom: 5px;
  }
  main section.featuredContents .title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 328px;
  }
  main section.featuredContents .title .txt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.featuredContents .title .txt h3 {
    font-size: 2.1rem;
  }
  main section.featuredContents .title .swiper-button-next-slide02,
  main section.featuredContents .title .swiper-button-prev-slide02 {
    display: none;
  }
  main section.featuredContents .slide02 {
    max-width: 328px;
    height: 328px;
  }
}
/*# sourceMappingURL=style.css.map */