@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:visited,
a:link {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

#wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#wrap figure.background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#wrap figure.background video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#wrap main {
  width: 1280px;
  max-height: 960px;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  background: rgba(255, 255, 255, 0.2);
}

#wrap main header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#wrap main header .logo {
  width: 158px;
  height: 80px;
  background-image: url(../images/logo_full_20201102.png);
  background-position-y: 81px;
}

#wrap main header nav ul.menu {
  width: 644px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap main header nav ul.menu > li {
  list-style: none;
}

#wrap main header nav ul.menu > li > a {
  display: block;
  font: bold 18px/80px "Hubballi";
  color: white;
}

#wrap main header nav ul.menu > li .submenuWrap {
  position: absolute;
  left: 0;
  top: 80px;
  display: none;
}

#wrap main header nav ul.menu > li .submenuWrap .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

#wrap main header nav ul.menu > li:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap main header nav ul.menu > li:last-of-type #home {
  width: 35px;
  line-height: 35px;
  text-align: center;
}

#wrap main header nav ul.menu > li:last-of-type #home i {
  font-size: 20px;
  color: #fff;
}

#wrap main header nav ul.menu > li:last-of-type #language select {
  height: 35px;
  background-color: transparent;
  color: #fff;
  border: none;
}

#wrap main header:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: rgba(255, 255, 255, 0.8);
}

#wrap main header:hover .logo {
  background: url(../images/logo_20201102.png);
}

#wrap main header:hover nav ul.menu > li > a {
  color: #333;
}

#wrap main header:hover nav ul.menu > li:last-of-type #home i {
  color: #333;
}

#wrap main header:hover nav ul.menu > li:last-of-type #language select {
  color: #333;
}

#wrap main .container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 10;
  grid-row: 2/12;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
}

#wrap main .container figure {
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  overflow: hidden;
  position: relative;
}

#wrap main .container figure img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#wrap main .container .latestNews {
  position: relative;
  overflow: hidden;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
}

#wrap main .container .latestNews .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

#wrap main .container .latestNews .title h2 {
  font-size: 34px;
}

#wrap main .container .latestNews .title button {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  color: white;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.8rem;
}

#wrap main .container .latestNews .title button:hover {
  color: #333;
  background: #fff;
}

#wrap main .container .latestNews ul {
  height: 100%;
}

#wrap main .container .latestNews ul li {
  height: 25%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 16px;
}

#wrap main .container .latestNews ul li:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #333;
}

#wrap main .container .latestNews ul li .txt h3 {
  margin-bottom: 5px;
}

#wrap main .container .featuredContents {
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 5;
  grid-row: 6/11;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  position: relative;
  padding: 0 16px;
}

#wrap main .container .featuredContents .txt {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#wrap main .container .featuredContents .txt button {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  color: white;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.8rem;
}

#wrap main .container .featuredContents .txt button:hover {
  color: #333;
  background: #fff;
}

#wrap main .container .featuredContents ul {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  height: 100%;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap main .container .featuredContents ul li {
  width: 25%;
}

#wrap main footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
}

#wrap main footer .pcFooter {
  display: block;
  width: 100%;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
}

#wrap main footer .pcFooter .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap main footer .pcFooter .left ul li a {
  display: block;
  padding-right: 10px;
  font-size: 14px;
  color: #fff;
}

#wrap main footer .pcFooter .left p.companyInfo span {
  font-size: 12px;
  color: #999;
}

#wrap main footer .moFooter {
  display: none;
}

@media screen and (max-height: 980px) {
  #wrap main {
    max-height: 862.5px;
    max-width: 1150px;
  }
  #wrap main .container .latestNews .title h2 {
    font-size: 28px;
  }
  #wrap main .container .latestNews ul li .txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90%;
    overflow: hidden;
  }
  #wrap main .container .latestNews ul li .txt h3 {
    font-size: 18px;
    font-weight: lighter;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-height: 862.5px) {
  #wrap main {
    max-height: 720px;
    max-width: 960px;
  }
}

@media screen and (max-width: 959px) {
  #wrap main {
    max-width: 360px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[16];
        grid-template-rows: repeat(16, 1fr);
  }
  #wrap main header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #wrap main .container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 13;
    grid-row: 2/15;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[13];
        grid-template-rows: repeat(13, 1fr);
  }
  #wrap main .container figure {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  #wrap main .container .company {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
  }
  #wrap main .container .careers {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
  }
  #wrap main .container .business {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 9;
    -ms-grid-row-span: 5;
    grid-row: 9/14;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
  }
}
/*# sourceMappingURL=style.css.map */