@mixin moreBtn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 3.5rem;
	padding-top: 10px;
	color: #ff5a00;
	padding-right: 10px;
	transition: 0.5s;

	&:hover {
		transform: translateX(20px);
	}
}

@mixin location {
	background: #121212;
	.con {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1280px;
		margin: 0 auto;
		padding: 1rem 2rem;

		h2 {
			font-size: 3rem;
			color: #f1f1f1;
		}
		ul {
			display: flex;
			li {
				padding: 0 1rem;
				border-right: 1px solid #f1f1f1;
				font-size: 0.8rem;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					border-right: none;
				}
				a {
					font-size: 0.8rem;
					color: #f1f1f1;
				}
				&:nth-child(2) {
					color: #888888;
				}
				&.active a {
					color: #ff5a00;
					font-weight: bold;
				}
			}
		}
	}
}
