@import "variables";
@mixin xxl {
	@media (max-width: #{$breakpoint-xxl}) {
		@content;
	}
}
@mixin xl {
	@media (max-width: #{$breakpoint-xl}) {
		@content;
	}
}
@mixin lg {
	@media (max-width: #{$breakpoint-lg}) {
		@content;
	}
}
@mixin md {
	@media (max-width: #{$breakpoint-md}) {
		@content;
	}
}
@mixin sm {
	@media (max-width: #{$breakpoint-sm}) {
		@content;
	}
}
@mixin xsm {
	@media (max-width: #{$breakpoint-xsm}) {
		@content;
	}
}

@mixin moreBtn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 3.5rem;
	padding-top: 10px;
	color: #ff5a00;
	padding-right: 10px;
	transition: 0.5s;

	&:hover {
		transform: translateX(20px);
	}
	@include sm {
		font-size: 3rem;
	}
}

@mixin location {
	background: #121212;
	.con {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1280px;
		margin: 0 auto;
		padding: 1rem 2rem;

		h2 {
			font-size: 3rem;
			color: #f1f1f1;
		}
		ul {
			display: flex;
			li {
				padding: 0 1rem;
				border-right: 1px solid #f1f1f1;
				font-size: 0.8rem;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					border-right: none;
				}
				a {
					font-size: 0.8rem;
					color: #f1f1f1;
				}
				&.inactive a {
					color: #888888;
				}
				&.active a {
					color: #ff5a00;
					font-weight: bold;
				}
			}
		}
	}
	@include xxl {
		font-size: 14px;
	}
	@include lg {
		.con {
			flex-direction: column;
			align-items: flex-start;
			h2 {
				font-size: 2rem;
			}
			ul {
				align-self: flex-end;
			}
		}
	}
	@include sm {
		.con {
			padding: 1rem;
			h2 {
				font-size: 1.5rem;
				padding-bottom: 5px;
			}
			ul {
				align-self: flex-start;
				li {
					font-size: 0.5rem;
					a {
						font-size: 0.5rem;
					}
				}
			}
		}
	}
}
