@mixin moreBtn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 3.5rem;
	padding-top: 10px;
	color: #ff5a00;
	padding-right: 10px;
	transition: 0.5s;

	&:hover {
		transform: translateX(20px);
	}
}
