@charset 'utf-8';
@import "reset";
@import "mixin";

@import "header";
@import "footer";

body {
	background: linear-gradient(175deg, #bbcfdf, #e1c79e, #e89e96);
	color: #333;
}
main#whoWeAre {
	section.location {
		@include location;
		padding-top: 80px;
	}
	section.whoWeAre {
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		font-family: "Nanum Myeongjo";
		background: rgba(255, 255, 255, 0.4);
		padding: 9.375rem 0;

		.txt {
			margin-bottom: 4rem;
			p {
				font-size: 2rem;
				padding-bottom: 1rem;
			}
			h3 {
				font-size: 4.5rem;
				color: #ff9700;
				margin-bottom: 4rem;
			}
			svg {
				fill: #ff5a00;
				animation: who_we_are_star 1s ease-in-out infinite alternate;
			}
			@keyframes who_we_are_star {
				from {
					transform: rotate(70deg) scale(0.6);
				}
				to {
					transform: rotate(250deg) scale(1);
				}
			}
		}

		article {
			font-family: "Yeon Sung";
			h3 {
				font-size: 2rem;
				font-weight: lighter;
				padding-bottom: 2rem;
			}
			h4 {
				max-width: 1000px;
				font-size: 1.3rem;
				font-weight: lighter;
				line-height: 2rem;
				&::after {
					content: "";
					display: block;
					width: 1px;
					height: 10rem;
					background: #000;
					margin: 2rem auto;
				}
			}
			p {
				font-size: 1.3rem;
				line-height: 2.5rem;
				letter-spacing: 3px;
			}
		}
	}
}

@include xxl {
	body {
		font-size: 14px;
	}
}
@include xl {
	main#whoWeAre {
		section.whoWeAre {
			article {
				h4 {
					padding: 0 2rem;
				}
			}
		}
	}
}
@include lg {
	main#whoWeAre {
		section.whoWeAre {
			.txt {
				p {
					font-size: 1.5rem;
				}
				h3 {
					font-size: 3.5rem;
				}
			}
			article {
				h3 {
					font-size: 1.8rem;
				}
				h4 {
					font-size: 1rem;
					letter-spacing: 2px;
					// max-width: 600px;
				}
				p {
					font-size: 1rem;
				}
			}
		}
	}
}
@include xsm {
	main#whoWeAre {
		section.whoWeAre {
			.txt {
				h3 {
					font-size: 3rem;
				}
			}
			article {
				h4 {
					letter-spacing: 0;
				}
				p {
					letter-spacing: 0;
				}
			}
		}
	}
}
