@charset "utf-8";
@import "reset";
@import "mixin";

body {
	overflow-x: hidden;
	background: linear-gradient(175deg, #bbcfdf, #e1c79e, #e89e96);
	color: #333;
	font-family: "NanumBarunGothicExtraLight", "NanumBarunGothicLight",
		"NanumBarunGothic", "NanumBarunGothicBold";
}
header {
	width: 100%;
	height: 80px;
	background: rgba(255, 255, 255, 0.4);
	position: fixed;
	z-index: 100;
	transition: 0.5s;
	&:hover {
		background: #333;
		height: 400px;

		nav {
			border-bottom: 1px solid #c4c4c4;
			a {
				color: #f1f1f1;
			}

			.logo {
				background-position: center -80px;
			}
		}

		ul.submenu {
			top: 50px;
			opacity: 1;
		}
	}
	nav {
		max-width: 1280px;
		width: 100%;
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		padding: 0 1rem;
		.logo {
			width: 158px;
			height: 80px;
			background: url(../images/logo_full_20201102.png) no-repeat center 0 /
				100%;
		}
		> ul {
			width: 70%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			> li {
				width: 100%;
				transition: 0.3s;
				position: relative;
				&:hover {
					> a {
						color: #ff5a00;
					}
				}
				> a {
					display: block;
					width: 100%;
					font-size: 16px;
					font-weight: bold;
					text-align: center;
					padding: 0 1rem;
				}
				&:active {
					> a {
						color: #ff5a00;
					}
				}
				& > ul.submenu {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					width: 100%;
					position: absolute;
					top: -160px;
					opacity: 0;
					transition: 0.5s;

					> li {
						width: 100%;
						padding: 1rem;
						> a {
							width: 100%;
							display: block;
							text-align: center;
						}
						&:hover {
							a {
								color: #ff5a00;
							}
						}
					}
				}
			}
		}
		.lan {
			display: flex;
			border: 1px solid rgb(146, 146, 146);
			a {
				width: 25px;
				line-height: 25px;
				display: block;
				text-align: center;
			}
			a.active {
				background: #ff5a00;
			}
		}
	}
}

main {
	width: 100vw;

	section.visual {
		width: 100%;
		position: relative;

		.visualTitle {
			max-width: 1280px;
			margin: 0 auto;
			padding-top: 150px;
			text-align: center;
			p {
				font-size: 2rem;
				font-weight: bold;
			}
			h2 {
				font-size: 4rem;
				color: #ff5a00;
			}
		}

		.swiper-wrapper {
			width: 100vw;
			height: 74vh;
			margin-top: 20vh;

			.swiper-slide {
				transform: scale(0.8);
				position: relative;
				transition: 1s;

				.inner {
					width: 100%;
					filter: saturate(0);
					transition: 1s;
					position: relative;

					img {
						width: 100%;
					}
				}
				.txt {
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					padding-top: 10px;
					h3 {
						font-size: 2rem;
						color: #111;
						width: 80%;
						margin-right: 30px;
					}
					p {
						font-size: 0.8rem;
						line-height: 1rem;
					}
				}
			}

			.swiper-slide-active {
				transform: scale(1.5);
				.inner {
					filter: saturate(1);
				}
			}

			.swiper-slide-prev,
			.swiper-slide-next {
				.inner {
					filter: saturate(0);
				}
				.txt {
					display: none;
				}
			}
		}
		.swiper-pagination {
			color: #f1f1f1;
			text-shadow: 3px 3px 7px #000;
			font-size: 1.3rem;
			border-radius: 0.625rem;
			left: 50%;
			transform: translateX(-50%);
			bottom: -3.75rem;
		}
		.swiper-button-prev {
			left: 16%;
		}
		.swiper-button-next {
			right: 16%;
		}
		.swiper-button-prev,
		.swiper-button-next {
			color: #ff5a00;
			padding: 30px 30px;
			border-radius: 50%;
			background: rgba(0, 0, 0, 0.5);
		}
	}
	section.whoWeAre {
		width: 100%;
		height: 100vh;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-top: 9rem;
		margin-bottom: 5rem;
		h2 {
			font-size: 6rem;
			letter-spacing: 30px;
			color: #ff5a00;
			margin-bottom: 8.125rem;
		}

		.txt {
			margin-bottom: 6.25rem;
			p {
				font-size: 2rem;
			}
			h3 {
				font-size: 4rem;
				color: #ff9700;
			}
		}

		article {
			h3 {
				font-size: 1.875rem;

				&::after {
					content: "";
					display: block;
					width: 1px;
					height: 6.25rem;
					background: #000;
					margin: 2rem auto;
				}
			}
			p {
				font-size: 1.3rem;
				line-height: 2.5rem;
			}
		}
	}
	section.business {
		padding: 5rem 2rem !important;
		margin: 0 auto;
		max-width: 1280px;
		height: 100vh;
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(12, 1fr);

		.title {
			grid-column: 1/13;
			grid-row: 1/2;
			display: flex;

			h3 {
				font-size: 2.9rem;
				padding-right: 10px;
			}
			button {
				@include moreBtn;
			}
		}

		.tvShow,
		.film,
		.music {
			grid-column: 1/5;
			grid-row: 2/8;
			position: relative;
		}
		.film {
			grid-column: 5/9;
		}
		.music {
			grid-column: 9/13;
		}
		.adSales,
		.performingArts,
		.animation,
		.convention {
			grid-column: 1/4;
			grid-row: 8/13;
			position: relative;
		}
		.performingArts {
			grid-column: 4/7;
		}
		.animation {
			grid-column: 7/10;
		}
		.convention {
			grid-column: 10/13;
		}

		article {
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.6);
				opacity: 0;
			}
			h4 {
				font-size: 1rem;
				position: absolute;
				top: 1rem;
				left: 1rem;
				color: #fff;
				display: none;
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
		article:hover {
			cursor: pointer;
			&::before {
				transition: 0.3s linear;
				opacity: 1;
			}
			h4 {
				display: block;
			}
		}
	}
	section.featuredContents {
		padding: 5rem 2rem;
		position: relative;
		background: rgba(255, 255, 255, 0.4);

		.title {
			margin: 0 auto;
			max-width: 1280px;
			display: flex;
			position: relative;

			.txt {
				display: flex;
				h3 {
					font-size: 2.9rem;
					padding-right: 10px;
				}
				button {
					@include moreBtn;
				}
			}
			.slideButton {
				.swiper-button-prev-slide02,
				.swiper-button-next-slide02 {
					width: 30px;
					line-height: 30px;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					text-align: center;
					color: #ff5a00;
					font-size: 2rem;
					cursor: pointer;
				}
				.swiper-button-prev-slide02 {
					right: 30px;
				}
			}
		}
		.slide02 {
			margin: 0 auto;
			max-width: 1280px;
			width: 100%;
			height: 314px;
			overflow: hidden;

			.swiper-wrapper {
				width: 100%;
				height: 100%;
				.swiper-slide {
					.inner {
						width: 100%;
						height: 100%;
						position: relative;
						cursor: pointer;
						img {
							width: 100%;
							height: 100%;
						}
						.overlay {
							position: absolute;
							width: 100%;
							height: 25%;
							bottom: 0;
							left: 0;
							background: rgba(0, 0, 0, 0.7);
							color: #f1f1f1;
							padding: 1rem;
							transition: 0.5s;

							.title {
								display: flex;
								flex-direction: column;

								h4 {
									font-size: 1.3rem;
									padding-bottom: 5px;
								}
								p {
									font-size: 0.8rem;
									padding-bottom: 0.8rem;
									color: #c4c4c4;
								}
							}
							p {
								line-height: 1.3rem;
							}
						}
						&:hover .overlay {
							height: 60%;
						}
					}
				}
			}
		}
	}
	section.latestNews {
		background: rgba(255, 255, 255, 0.4);
		padding: 5rem 0;

		.title {
			margin: 0 auto;
			max-width: 1280px;
			display: flex;
			position: relative;

			h3 {
				font-size: 2.9rem;
				padding-right: 10px;
			}
			button {
				@include moreBtn;
			}
		}
		.con {
			max-width: 1280px;
			margin: 0 auto;
			display: flex;
			height: 300px;
			article {
				margin-right: 1rem;
				width: 33.3%;
				cursor: pointer;
				overflow: hidden;
				.txt {
					height: 30%;
					background: rgba(0, 0, 0, 0.7);
					color: #f1f1f1;
					padding: 1rem;
					h4 {
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						font-size: 1.1rem;
						margin-bottom: 5px;
						font-weight: lighter;
					}
				}
				.articleImg {
					overflow: hidden;
					height: 70%;
					img {
						width: 100%;
						height: 100%;
						transition: 0.5s;
					}
				}
				&:hover img {
					transform: scale(1.1);
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
footer {
	width: 100%;
	height: 100%;
	background: #1b1b1b;
	color: #fff;

	.inner {
		max-width: 1280px;
		margin: 0 auto;
		padding: 1rem;
		.title {
			margin-bottom: 10rem;
			h2 {
				font-size: 3.75rem;
				span {
					color: #ff5a00;
				}
			}
		}
		.con {
			display: flex;
			justify-content: space-between;

			.left {
				.list {
					display: flex;
				}
			}
			.right {
				display: flex;
				flex-direction: column;

				.familySite {
					width: 140px;
					position: relative;
					ul {
						display: none;
						flex-direction: column;
						position: absolute;
						bottom: 50px;
						right: 0;
						width: 240px;
						height: 300px;
						overflow: auto;
						padding: 1rem;
						background: #333;
						li {
							display: flex;
							flex-direction: column;
							font-weight: bold;
							padding-bottom: 10px;
							> h4 {
								padding-bottom: 5px;
								font-size: 17px;
								border-bottom: 1px solid #ccc;
								margin-bottom: 5px;
							}
							a {
								color: #f1f1f1;
								display: block;
								padding: 3px 0 3px 10px;
								font-weight: lighter;
							}
							&:last-child {
								padding-bottom: 0;
							}
						}
					}
					> h4 {
						border: 1px solid #fff;
						text-align: center;
						padding: 5px 0;
						line-height: 35px;
						i {
							color: #fff;
							transform: rotate(45deg);
							transition: 0.3s;
							cursor: pointer;
						}
					}
				}
				.sns {
					display: flex;
					justify-content: space-around;
				}
			}
		}
	}
}

@media screen and (max-width: 1839px) {
	main {
		section.visual {
			.visualTitle {
				text-align: center;
			}
			.swiper-pagination {
				bottom: 2.25rem;
			}
		}

		section.featuredContents {
			.slide02 {
				height: 342px;

				.swiper-wrapper .swiper-slide .inner .overlay {
					height: 22%;
				}
			}
		}
	}
}
@media screen and (max-width: 1512px) {
	main {
		section.visual {
			.swiper-pagination {
				bottom: 8rem;
			}
		}
		section.featuredContents {
			.slide02 {
				height: 330px;
			}
		}
	}
}

// tablet start
@media screen and (max-width: 1439px) {
	main {
		section.visual {
			.visualTitle {
				text-align: center;
			}
			.swiper-pagination {
				bottom: 8rem;
			}
			.swiper-button-prev,
			.swiper-button-next {
				top: 44%;
			}
			.swiper-button-prev {
				left: 18%;
			}
			.swiper-button-next {
				right: 18%;
			}
		}

		section.business {
			max-width: 1134px;

			.title {
				align-items: center;
				h3 {
					font-size: 2.5rem;
				}
			}
			.tvShow,
			.performingArts {
				grid-column: 1/4;
			}
			.film,
			.animation {
				grid-column: 4/7;
			}
			.music,
			.convention {
				grid-column: 7/10;
			}
			.adSales {
				grid-column: 10/13;
			}
			.tvShow,
			.film,
			.music,
			.adSales {
				grid-row: 2/8;
			}
			.performingArts,
			.animation,
			.convention {
				grid-row: 8/14;
			}
		}
		section.featuredContents {
			.title {
				.txt {
					align-items: center;
					h3 {
						font-size: 2.5rem;
					}
				}
			}
			.slide02 {
				height: 300px;

				.swiper-wrapper {
					.swiper-slide {
						.inner {
							.overlay {
								height: 25%;
							}
							&:hover .overlay {
								height: 25%;
							}
						}
					}
				}
				.swiper-wrapper
					.swiper-slide
					.inner
					.overlay.longTitle
					.title
					h4 {
					font-size: 1.2rem;
				}
			}
		}
		section.latestNews {
			padding: 5rem 2rem;
		}
	}
}
@media screen and (max-width: 1133px) {
	html {
		font-size: 14px;
	}
	main {
		section.visual {
			.swiper-button-prev,
			.swiper-button-next {
				padding: 20px 20px;
				&::after {
					font-size: 1.5rem;
					font-weight: bold;
				}
			}
		}
		section.business {
			padding: 0 !important;
			max-width: 955px;
			grid-template-columns: repeat(3, 300px);
			grid-template-rows: 60px 1fr 1fr 1fr;
			justify-content: space-evenly;
			margin-bottom: 200px;
			.title {
				grid-column: 1/4;
				height: 40px;
			}
			.tvShow,
			.adSales,
			.convention {
				grid-column: 1/2;
			}
			.film,
			.performingArts {
				grid-column: 2/3;
			}
			.music,
			.animation {
				grid-column: 3/4;
			}
			.tvShow,
			.film,
			.music {
				grid-row: 2/3;
			}
			.performingArts,
			.animation,
			.adSales {
				grid-row: 3/4;
			}
			.convention {
				grid-row: 4/5;
			}
		}
		section.featuredContents {
			.title {
				max-width: 955px;
			}
			.slide02 {
				max-width: 955px;
				height: 330px;

				.swiper-wrapper .swiper-slide .inner .overlay {
					height: 21%;
				}
				.swiper-wrapper .swiper-slide .inner:hover .overlay {
					height: 21%;
				}
			}
		}
		section.latestNews {
			.title {
				max-width: 955px;
				align-items: center;
				h3 {
					font-size: 2.5rem;
				}
			}
			.con {
				max-width: 955px;
				height: 240px;
			}
		}
	}
}
@media screen and (max-width: 1023px) {
	main {
		section.visual {
			margin-bottom: 20rem;
			.swiper-wrapper {
				margin-top: 5vh;
				height: 100%;
				.swiper-slide {
					transform: scale(1);
					.inner {
						width: 100vw;
					}
					.txt {
						width: 100vw;
						padding: 0 16px;
						h3 {
							margin-right: 0;
						}
						p {
							font-size: 1.1rem;
							line-height: 2rem;
						}
					}
				}
				.swiper-slide-active {
					transform: scale(1);
				}
			}
			.swiper-button-next,
			.swiper-button-prev {
				display: none;
			}
			.swiper-button-next::after,
			.swiper-button-prev::after {
				display: none;
			}
		}
		section.whoWeAre {
			margin-bottom: 20rem;
		}
		section.business {
			grid-template-columns: repeat(3, 260px);
			max-width: 780px;
			margin-bottom: 10rem;
		}
		section.featuredContents {
			.title {
				max-width: 780px;
			}
			.slide02 {
				max-width: 780px;
				height: 300px;
				.swiper-wrapper .swiper-slide .inner .overlay {
					height: 23%;
				}
				.swiper-wrapper .swiper-slide .inner:hover .overlay {
					height: 23%;
				}
			}
		}
		section.latestNews {
			.title {
				max-width: 780px;
			}
			.con {
				max-width: 780px;
				height: 250px;

				article .txt h4 {
					font-size: 1rem;
					line-height: 1.3rem;
				}
			}
		}
	}
}
@media screen and (max-width: 889px) {
	main {
		section.visual {
			.swiper-pagination {
				bottom: 9rem;
			}
			.swiper-wrapper {
				margin-top: 5vh;
				height: 100%;
				.swiper-slide {
					transform: scale(1);
					.inner {
						width: 100vw;
					}
					.txt {
						width: 100vw;
						padding: 0 16px;
						h3 {
							margin-right: 0;
						}
						p {
							font-size: 1.1rem;
							line-height: 2rem;
						}
					}
				}
				.swiper-slide-active {
					transform: scale(1);
				}
			}
		}
		section.whoWeAre {
			h2 {
				font-size: 5rem;
			}
		}
		section.business {
			margin: 0 auto;
			grid-template-columns: repeat(2, 260px);
			grid-template-rows: 60px 1fr 1fr 1fr 1fr;
			max-width: 520px;
			margin-bottom: 360px;
			.title {
				grid-column: 1/3;
			}
			.tvShow,
			.music,
			.performingArts,
			.convention {
				grid-column: 1/2;
			}
			.film,
			.adSales,
			.animation {
				grid-column: 2/3;
			}
			.tvShow,
			.film {
				grid-row: 2/3;
			}
			.music,
			.adSales {
				grid-row: 3/4;
			}
			.performingArts,
			.animation {
				grid-row: 4/5;
			}
			.convention {
				grid-row: 5/6;
			}
			article {
				&::before {
					opacity: 1;
					height: 16%;
				}
				h4 {
					display: block;
				}
			}
		}
		section.featuredContents {
			.title {
				max-width: 640px;
				.txt {
					h3 {
						font-size: 2rem;
					}
				}
			}
			.slide02 {
				max-width: 640px;
				height: 330px;
				.swiper-wrapper .swiper-slide .inner .overlay {
					height: 20%;
				}
				.swiper-wrapper .swiper-slide .inner:hover .overlay {
					height: 20%;
				}
			}
		}
		section.latestNews {
			.title {
				max-width: 640px;
				h3 {
					font-size: 2rem;
				}
			}
			.con {
				max-width: 640px;
				height: auto;
				flex-wrap: wrap;
				article {
					width: 50%;
					margin-right: 0;
					padding-right: 1rem;
					padding-bottom: 1rem;

					&:nth-of-type(2) {
						padding-right: 0;
					}
					.txt {
						height: 24%;
						h4 {
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							font-size: 1rem;
							margin-bottom: 5px;
						}
					}
					.articleImg {
						height: 76%;
					}
				}
			}
		}
	}
}

//mobile start
@media screen and (max-width: 743px) {
	html {
		font-size: 14px;
	}
	main {
		section.visual {
			height: 100vh;
			margin-bottom: 10rem;
			.visualTitle {
				width: 100%;
				p {
					font-size: 1.5rem;
					padding-bottom: 1rem;
				}
				h2 {
					font-size: 3rem;
				}
			}
			.swiper-wrapper {
				.swiper-slide {
					.txt {
						display: flex;
						flex-direction: column;
						padding: 1rem;
						h3 {
							margin: 0 0 1rem 0;
						}
					}
				}
			}
			.swiper-pagination {
				bottom: 8rem;
				left: auto;
				right: 1rem;
				top: 56%;
				font-size: 1rem;
				height: 1.5rem;
			}
		}
		section.whoWeAre {
			margin: 5rem 0;
			padding: 0;
			justify-content: unset;
			align-items: center;
			height: 75vh;
			h2 {
				letter-spacing: 5px;
				font-size: 3rem;
				margin-bottom: 0;
				padding-bottom: 6rem;
			}
			.txt {
				margin-bottom: 0;
				padding-bottom: 5rem;
				p {
					font-size: 1.5rem;
				}
				h3 {
					font-size: 2.2rem;
				}
			}
			article {
				h3 {
					font-size: 1.5rem;
				}
				p {
					font-size: 1rem;
				}
			}
		}
		section.business {
			max-width: 399px;
			grid-template-columns: repeat(2, 194.5px);
			margin-bottom: 100px;
			.title {
				h3 {
					font-size: 2rem;
				}
			}
			article {
				&::before {
					position: absolute;
					bottom: 0;
					left: 0;
				}
				h4 {
					top: auto;
					bottom: 5px;
				}
			}
		}
		section.featuredContents {
			.title {
				align-items: center;
				max-width: 399px;
				.txt {
					align-items: center;
					h3 {
						font-size: 2.1rem;
					}
				}
				.swiper-button-next-slide02,
				.swiper-button-prev-slide02 {
					display: none;
				}
			}
			.slide02 {
				max-width: 399px;
				height: 250px;
				.swiper-wrapper .swiper-slide .inner .overlay {
					height: 25%;
				}
				.swiper-wrapper .swiper-slide .inner:hover .overlay {
					height: 25%;
				}
				.swiper-wrapper
					.swiper-slide
					.inner
					.overlay.longTitle
					.title
					h4 {
					font-size: 1rem;
				}
			}
		}
		section.latestNews {
			.title {
				max-width: 399px;
				h3 {
					font-size: 2.1rem;
				}
			}
			.con {
				max-width: 399px;
				flex-direction: column;
				article {
					width: 100%;
					display: flex;
					padding-right: 0;
					.txt {
						width: 250px;
						height: auto;
						h4 {
							font-size: 1rem;
							line-height: 1.5rem;
						}
					}
					.articleImg {
						width: 149px;
						height: auto;
						img {
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 430px) {
	main {
		section.visual {
			.visualTitle {
				padding-top: 140px;
			}
		}
		section.business {
			max-width: 328px;
			grid-template-columns: repeat(2, 159px);
		}
		section.featuredContents {
			.title {
				max-width: 328px;
			}
			.slide02 {
				max-width: 328px;
				height: 328px;
				.swiper-wrapper .swiper-slide .inner .overlay {
					height: 20%;
				}
				.swiper-wrapper .swiper-slide .inner:hover .overlay {
					height: 20%;
				}
			}
		}
		section.latestNews {
			padding: 5rem 2rem;
			.title {
				max-width: 328px;
			}
			.con {
				article {
					.txt {
						width: 200px;
					}
					.articleImg {
						width: 100px;
					}
				}
			}
		}
	}
}
