@charset "utf-8";

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 40px 0;
    background: rgba(0,0,0,0.6);
    z-index: 100;
}
header nav ul{
    display: flex;
    justify-content: center;
}
header nav ul li{
    margin: 0 20px;
}
section:first-child{
    background-image: url(../images/bg_02.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.donut{
    position: absolute;
    top: 28%;
    left: 5%;
    width: 140px;
    animation: donut linear infinite 1.5s alternate;
    z-index: 1;
}
.heart{
    position: absolute;
    left: 25%;
    top: 20%;
    width: 100px;
    animation: heart linear infinite 1s alternate;
    z-index: 1;
}
@keyframes donut{
    100%{transform: translateY(50px);}
}
@keyframes heart{
    100%{transform: translateY(20px);}
}