@charset "utf-8";

body{
    color: #333;
    font-family: 'Cute Font', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
#fp-nav ul li .fp-tooltip{
    color: #333 !important;
    font-family: 'Noto Sans KR', sans-serif !important;
    font-weight: bold;
}
/* header  */
header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fce66e;
    z-index: 100;
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;
}
header nav h2{
    height: 40px;
}

header nav h2 a img{
    width: 400px;
}
header nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header > nav > ul > li > a{
    display: block;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
header > nav > ul > li > a > p{
    display: none;
    font-family: 'Cute Font', cursive;
    font-size: 20px;
    font-weight: bold;
}
header > nav > ul > li > a:hover > p{
    display: block;
}
header > nav > ul > li:nth-child(1) img{
    height: 60px;
}
header > nav > ul > li:nth-child(2) img{
    height: 50px;
}
header > nav > ul > li:nth-child(3) img{
    height: 50px;
}
header > nav > ul > li:nth-child(4) img{
    height: 50px;
}

/* section1  */
.section:first-child{
    background-image: url(../images/innisfree/section01/section01_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}
.section:first-child img{
    position: absolute;
}
.section:first-child .collaboration{
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    animation: collabo linear alternate infinite forwards 1s;
}
@keyframes collabo{
    100%{
        transform: translate(-50%,10px);
    }
}
.section:first-child .bear{
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
}
.section:first-child .brownBear{
    top: 40%;
    left: 20%;
    animation: brown01 alternate infinite linear forwards 1s;
}

@keyframes brown01 {
    100%{
        transform: translateY(-30px);
    }
}

.section:first-child .flowerFace{
    top: 53%;
    left: 28%;
    width: 130px;
    animation: face01 alternate infinite linear forwards 1s;
}
@keyframes face01 {
    100%{
        transform: rotate(30deg);
    }
}
.section:first-child .flower01{
    top: 62%;
    left: 22%;
    width: 100px;
    animation: smallFlower01 1s linear alternate forwards infinite;
}
@keyframes smallFlower01{
    100%{
        transform: rotate(-40deg);
    }
}
.section:first-child .doughnut01{
    bottom: 16%;
    left: 28%;
    width: 160px;
}
.section:first-child .doughnut02{
    bottom: 14%;
    left: 22%;
    width: 160px;
    z-index: 1;
}
.section:first-child .doughnutBox{
    right: 26%;
    bottom: 12%;
    width: 200px;
}
.section:first-child .flower02{
    right: 16%;
    bottom: 14%;
    width: 200px;
}
.section:first-child .happyday{
    right:14%;
    bottom: 8%;
    width: 300px;
    animation: happyday 1s linear alternate forwards infinite;
}
@keyframes happyday{
    100%{
        transform: rotate(10deg);
    }
}
.section:first-child .flower03{
    right:26%;
    bottom: 40%;
    width: 100px;
    animation: smallFlower03 1s linear alternate forwards infinite;
}
@keyframes smallFlower03{
    100%{
        transform: translateY(-20px);
    }
}

/* section2  */
.section:nth-child(2){
    position: relative;
}

.section:nth-child(2) .videoWrap{
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.section:nth-child(2) .videoWrap .video{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 56.25%;
}
.section:nth-child(2) .videoWrap .video iframe{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.section:nth-child(2) .videoWrap .txt{
    position: relative;
    text-align: center;
    margin: 16px 0;
}
.section:nth-child(2) .videoWrap .txt:after{
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    width: 100%;
    background-color: #F5D4CD;
    height: 30px;
    z-index: -1;
}
.section:nth-child(2) .videoWrap .txt h3{
    font-size: 30px;
    font-family: 'Cute Font', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section:nth-child(2) .videoWrap .txt h3 br{
    display: none;
}
.section:nth-child(2) .txt img{
    width: 30px;
}

/* section3  */
.section:nth-child(3) .fp-controlArrow{
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    border: 0 none;
}
.section:nth-child(3) .fp-controlArrow.fp-prev{
    background-image: url(../images/innisfree/btn_prev.png);
    left: 7%;
}
.section:nth-child(3) .fp-controlArrow.fp-next{
    background-image: url(../images/innisfree/btn_next.png);
    right: 7%;
}
.section:nth-child(3) .slide01 .content{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.section:nth-child(3) .slide01 .left,
.section:nth-child(3) .slide01 .right{
    display: flex;
    float: left;
    flex-direction: column;
}
.section:nth-child(3) .slide01 .right{
    margin: auto 0;
}
.section:nth-child(3) .slide01 .right .case{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.section:nth-child(3) .slide01 .right .pink .besticon{
    width: 80px;
    position: absolute;
    top: 10%;
    left: -10%;
}
.section:nth-child(3) .slide01 .right .txt{
    padding: 0 30px;
    text-align: center;
}
.section:nth-child(3) .slide01 .right .txt h3{
    font-size: 36px;
}
.section:nth-child(3) .slide01 .right .txt p{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Cute Font', cursive;
}
.section:nth-child(3) .slide01 .left img{
    width: 600px;
}
.section:nth-child(3) .slide01 .right img{
    width: 300px;
}

.section:nth-child(3) .slide02{
    background-image: url(../images/innisfree/section03/slide02_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section:nth-child(3) .slide02 .content{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.section:nth-child(3) .slide02 .left,
.section:nth-child(3) .slide02 .right{
    float: left;
}
.section:nth-child(3) .slide02 .left img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.section:nth-child(3) .slide02 .right{
    padding-left: 30px;
}
.section:nth-child(3) .slide02 .right > img{
    display: none;
}
.section:nth-child(3) .slide02 .right h3{
    background: #FFD96E;
    padding: 0 10px;
    margin: 10px 0;
    font-weight: bold;
}
.section:nth-child(3) .slide02 .right .txt{
    display: flex;
    align-items: center;
    font-size: 26px;
    padding-bottom: 30px;
}
.section:nth-child(3) .slide02 .right .txt img{
    margin-right: 16px;
}
.section:nth-child(3) .slide02 .right .txt span{
    font-weight: bold;
}

.section:nth-child(3) .slide03{
    background-color: #FFD96D;
}
.section:nth-child(3) .slide03 .contentWrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.section:nth-child(3) .slide03 .contentWrapper h3{
    font-size: 36px;
    background: #FFF9E9;
    color: #40B8AE;
    width: 390px;
    padding: 0 10px;
    transform:  translateX(50%);
}
.section:nth-child(3) .slide03 .contentWrapper h3 span{
    color: #FC96B9;
}
.section:nth-child(3) .slide03 .content01,
.section:nth-child(3) .slide03 .content02,
.section:nth-child(3) .slide03 .content03{
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: center;
    font-family: 'Cute Font', cursive;
}

.section:nth-child(3) .slide03 .content01 .txt,
.section:nth-child(3) .slide03 .content03 .txt{
    padding-left: 300px;
}
.section:nth-child(3) .slide03 .content02 .txt{
    padding-right: 300px;
}
.section:nth-child(3) .slide03{
    text-align: center;
}
.section:nth-child(3) .slide03 .txt p{
    font-size: 34px;
}
.section:nth-child(3) .slide03 .txt span{
    font-weight: bold;
}
.section:nth-child(3) .slide03 .txt img{
    height: 60px;
}
.section:nth-child(3) .slide03 .txt p br{
    display: none;
}
.section:nth-child(3) .slide03 .content02 .txt img{
    width: 560px;
}

.section:nth-child(3) .slide03 .img{
    position: relative;
}
.section:nth-child(3) .slide03 .img p{
    position: absolute;
    bottom: 5px;
    background: #F7D2DE;
    font-size: 26px;
    font-weight: bold;
    padding: 0 5px;
    z-index: 1;
}
.section:nth-child(3) .slide03 .content01 .img p,
.section:nth-child(3) .slide03 .content03 .img p{
    right: 0;
}
.section:nth-child(3) .slide03 .img img{
    height: 400px;
}
.section:nth-child(3) .slide03 .content02 .img img{
    transform: rotateZ(-14deg);
}
.section:nth-child(3) .slide03 .content03 .img img{
    height: 200px;
}

.section:nth-child(3) .slide03 .flower{
    width: 100px;
    position: absolute;
}
.section:nth-child(3) .slide03 .flower01{
    top: 12%;
    left: 5%;
}
.section:nth-child(3) .slide03 .flower02{
    right: 5%;
}
.section:nth-child(3) .slide03 .flower03{
    bottom: 10%;
    left: -3%;
}
.section:nth-child(3) .slide03 .flower04{
    bottom: -3%;
    right: 0;
}


/* section4  */
.section:nth-child(4) .content{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.section:nth-child(4) .content h3{
    font-size: 26px;
    text-align: center;
    width: 400px;
    margin-bottom: 10px;
    background: #fce66e;
}
.section:nth-child(4) .content .review h3{
    width: 80px;
}
.section:nth-child(4) .thumbnailWrapper{
    display: flex;
    justify-content: space-around;
}
.section:nth-child(4) .thumbnail{
    cursor: pointer;
}
.section:nth-child(4) .product{
    padding-bottom: 30px;
}
.section:nth-child(4) .product p{
    color: #787878;
}
.section:nth-child(4) .product h4 span{
    font-weight: bold;
}
.section:nth-child(4) .review .thumbnailWrapper{
    justify-content: unset;
}
.section:nth-child(4) .review .thumbnail{
    padding-right: 30px;
}
.section:nth-child(4) .review .thumbnail:last-child{
    padding-right: 0;
}
.section:nth-child(4) .review .thumbnail img{
    width: 250px;
    height: 250px;
}
.section:nth-child(4) .review .up{
    padding-right: 30px;
}
.section:nth-child(4) .review .up,
.section:nth-child(4) .review .down{
    display: flex;
}

.section:nth-child(4) .modal{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.section:nth-child(4) .reviewMore{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-53%,-50%);
    display: flex;
    flex-direction: column;
    width: 720px;
    background: #fff;
}
.section:nth-child(4) .reviewMore > .top{
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    border-bottom: 1px solid #000;
    padding: 0 16px;
}
.section:nth-child(4) .reviewMore .top > h3{
    font-size: 22px;
    font-weight: bold;
    background: none;
    width: 600px;
    text-align: unset;
    margin-bottom: 0;
}
.section:nth-child(4) .reviewMore .top > h3 > br{
    display: none;
}
.section:nth-child(4) .reviewMore .top > img{
    cursor: pointer;
}
.section:nth-child(4) .reviewMore .information{
    margin: 16px 16px;
}
.section:nth-child(4) .reviewMore .information > .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section:nth-child(4) .reviewMore .information > .head > img{
    height: 28px;
    cursor: pointer;
}
.section:nth-child(4) .reviewMore .information > .head > .userInfo{
    display: flex;
    align-items: center;
}
.section:nth-child(4) .reviewMore .information .circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F1F1F1;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}
.section:nth-child(4) .reviewMore .information > .head > .userInfo > p{
    font-size: 14px;
}
.section:nth-child(4) .reviewMore .information > .head > .userInfo > p > span{
    color: #a4a4a4;
    font-size: 12px;
}
.section:nth-child(4) .reviewMore .information > img{
    margin: 0 auto;
    display: block;
    padding: 16px 0;
    width: 580px;
    height: 580px;
}


/* footer  */
.footerWrap{
    color: #6e6e6e;
    width: 60%;
    margin: 0 auto;
}
.footerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #a4a4a4;
}
.footerTop ul li{
    float: left;
    padding-right: 10px;
}
.footerTop .sns img{
    padding-left: 10px;
}
.footerBottom{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerBottom .left p{
    font-size: 14px;
}
.footerBottom .left p span{
    color: #a4a4a4;
    font-weight: bold;
}
.footerBottom .left p a{
    color: #a4a4a4;
    text-decoration: underline;
}

.footerBottom .right p span{
    font-weight: bold;
    font-size: 20px;
}
.footerBottom .right .txt{
    margin-bottom: 10px;
}
.footerBottom .right > button{
    background-color: unset;
    border: 1px solid #a4a4a4;
    padding: 10px;
    color: #a4a4a4;
}
.footerBottom .right > button:hover{
    background: #a4a4a4;
    color: #333;
    cursor: pointer;
}
.footerMo{
    display: none;
}

@media screen and (max-width:699px){
    header nav{
        justify-content: center;
    }
    header nav ul{
        display: none;
    }
    header nav h2 a img{
        width: 300px;
    }

    /* section1  */
    .section:first-child{
        background-image: url(../images/innisfree/section01/section01_bg_mo.png);
    }
    .section:first-child .collaboration{
        width: 90%;
        top: 12%;
    }
    .section:first-child .bear,
    .section:first-child .brownBear,
    .section:first-child .doughnut01,
    .section:first-child .doughnut02,
    .section:first-child .doughnutBox,
    .section:first-child .flower02,
    .section:first-child .happyday{
        display: none;
    }
    .section:first-child .flowerFace{
       width: 20%;
       top: 34%;
       left: 20%;
    }
    .section:first-child .flower01{
        top: 56%;
        left: 5%;
        width: 14%;
    }
    .section:first-child .flower03{
        width: 60px;
        bottom: 52%;
        right: 20%;
        animation-delay: 0.5s;
    }
    @keyframes smallFlower03{
        100%{
            transform: translateY(0) rotate(30deg);
        }
    }

    /* section2  */
    .section:nth-child(2) .videoWrap .txt h3{
        font-size: 30px;
        display: block;
    }
    .section:nth-child(2) .videoWrap .txt h3 br{
        display: block;
    }
    .section:nth-child(2) .videoWrap .txt:after{
        display: none;
    }

    /* section3  */
    .section:nth-child(3) .fp-controlArrow{
        width: 45px;
        height: 45px;
        top: 98%;
        background-size: cover;
    }
    .section:nth-child(3) .fp-controlArrow.fp-prev{
        left: 0;
    }
    .section:nth-child(3) .fp-controlArrow.fp-next{
        right: 0;
    }
    .section:nth-child(3) .slide01 .content{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .section:nth-child(3) .slide01 .left{
        margin-bottom: 30px;
    }
    .section:nth-child(3) .slide01 .left img:first-child{
        width: 240px;
    }
    .section:nth-child(3) .slide01 .left img:last-child{
        width: 240px;
    }
    .section:nth-child(3) .slide01 .right img{
        width: 100px;
    }
    .section:nth-child(3) .slide01 .right .case{
        justify-content: space-between;
    }
    .section:nth-child(3) .slide01 .right .txt{
        padding: 0;
    }
    .section:nth-child(3) .slide01 .right .txt h3{
        font-size: 16px;
    }
    .section:nth-child(3) .slide01 .right .txt p{
        font-size: 14px;
    }
    .section:nth-child(3) .slide01 .right .pink .besticon{
        width: 40px;
        left: -14%;
        top: -6%;
    }

    .section:nth-child(3) .slide02 .content{
        margin-top: 50px;
        width: 100%;
        justify-content: center;
        margin-top: 0;
    }
    .section:nth-child(3) .slide02 .left{
        display: none;
    } 
    .section:nth-child(3) .slide02 .right{
        padding: 0 10px;
    }
    .section:nth-child(3) .slide02 .right > img{
        height: 90px;
        margin: 0 auto;
        display: block;
        padding: 10px 0;
    }
    .section:nth-child(3) .slide02 .right h3{
        font-size: 14px;
        text-align: center;
    }
    .section:nth-child(3) .slide02 .right .txt{
        font-size: 14px;
    }
    .section:nth-child(3) .slide02 .right .txt img{
        width: 45px;
    }

    .section:nth-child(3) .slide03 .contentWrapper h3{
        font-size: 24px;
        width: 100%;
        transform: translateX(0);
    }
    .section:nth-child(3) .slide03 .content01,
    .section:nth-child(3) .slide03 .content02,
    .section:nth-child(3) .slide03 .content03{
        height: unset;
        padding-top: 20px;
    }
    .section:nth-child(3) .slide03 .content01 .txt,
    .section:nth-child(3) .slide03 .content02 .txt,
    .section:nth-child(3) .slide03 .content03 .txt{
        padding-left: 0;
        padding-right: 0;
    }
    .section:nth-child(3) .slide03 .txt img{
        width: 200px;
        height: 20px;
    }
    .section:nth-child(3) .slide03 .content02 .txt img{
        width: 200px;
    }
    .section:nth-child(3) .slide03 .txt p{
        font-size: 18px;
    }
    .section:nth-child(3) .slide03 .txt p br{
        display: block;
    }
    .section:nth-child(3) .slide03 .content .img img{
        height: 160px;
    }
    .section:nth-child(3) .slide03 .content03 .img img{
        height: 100px;
    }
    .section:nth-child(3) .slide03 .content .img p{
        font-size: 14px;
        width: 130px;
        bottom: 3px;
    }
    .section:nth-child(3) .slide03 .flower{
        width: 50px;
    }
    .section:nth-child(3) .slide03 .flower01{
        top: 8%;
    }
    .section:nth-child(3) .slide03 .flower02{
        top: 38%;
        left: 20%;
    }
    .section:nth-child(3) .slide03 .flower03{
        bottom: 24%;
        left: 80%;
    }
    .section:nth-child(3) .slide03 .flower04{
        bottom: -7%;
        right: 50%;
    }

    /* section4  */
    .section:nth-child(4) .content{
        width: 100%;
        align-items: center;
    }
    .section:nth-child(4) .content h3{
        font-size: 16px;
        width: 300px;
        margin-left: 0;
    }
    .section:nth-child(4) .product{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .section:nth-child(4) .product .thumbnail{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    .section:nth-child(4) .product .thumbnail:nth-child(3),
    .section:nth-child(4) .product .thumbnail:last-child{
        display: none;
    }
    .section:nth-child(4) .product img{
        width: 100px;
    }
    .section:nth-child(4) .product p{
        font-size: 12px;
    }
    .section:nth-child(4) .product h4{
        font-size: 14px;
    }

    .section:nth-child(4) .review .thumbnailWrapper{
        flex-direction: column;
    }
    .section:nth-child(4) .review .thumbnailWrapper .up{
        padding-right: 0;
        padding-bottom: 10px;
    }
    .section:nth-child(4) .review .thumbnail img{
        width: 100px;
        height: 100px;
    }
    .section:nth-child(4) .review .thumbnail .txt h4{
        font-size: 12px;
    }
    .section:nth-child(4) .review .thumbnail .txt p{
        font-size: 10px;
    }
    .section:nth-child(4) .review .thumbnail.review03{
        padding-right: 20px;
    }

    .section:nth-child(4) .reviewMore{
        width: 300px;
    }
    .section:nth-child(4) .reviewMore .top{
        line-height: unset;
    }
    .section:nth-child(4) .reviewMore .top h3{
        font-size: 14px;
    }
    .section:nth-child(4) .reviewMore .top h3 br{
        display: block;
    }
    .section:nth-child(4) .reviewMore .top img{
        height: 49px;
    }
    .section:nth-child(4) .reviewMore .information .head img{
        width: 21px;
    }
    .section:nth-child(4) .reviewMore .information img{
        width: 200px;
        height: 200px;
    }
    .section:nth-child(4) .reviewMore .information p{
        font-size: 12px;
    }

    /* footer  */
    .footerWrap{
        color: #a4a4a4;
        width: 100%;
    }
    .footerTop{
        flex-direction: column;
    }
    .footerTop ul{
        padding-bottom: 10px;
    }
    .footerTop ul li{
        font-size: 12px;
    }
    .footerTop ul li:nth-child(4),
    .footerTop ul li:nth-child(5),
    .footerTop ul li:nth-child(6){
        display: none;
    }
    .footerTop .sns img{
       height: 20px;
    }
    .footerBottom{
        flex-direction: column;
    }
    .footerBottom .left p{
        display: none;
    }
    .footerBottom .right .txt,
    .footerBottom .right > button{
        display: none;
    }
    .footerMo{
        display: block; 
    }
    .footerMo h5{
        margin: 10px 0;
    }
    .footerMo .button{
        display: flex;
        justify-content: space-between;
    }
    .footerMo .button button{
        width: 49%;
        margin-bottom: 10px;
        font-size: 10px;
        background: unset;
        border: 1px solid #a4a4a4;
        color: #a4a4a4;
        padding: 3px 0;
    }
    .footerMo p{
        font-size: 10px;
        text-align: center;
    }


}




