@charset "utf-8";
:root{
    --primary-color:#AD9E87;
}
body{
    overflow-x: hidden;
    height: 100vh;
}
#headerWrap{
    position: absolute;
    z-index: 1;
}
.topWrap{
    background-color: #E9E8E7;
    width: 100vw;
}
.top{
    width: 1140px;
    height: 48px;
    margin: 0 auto;
    position: relative;
}
.top h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.top h1 img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50% );
}
.top > ul >li{
    line-height: 50px;
    font-size: 12px;
}
.currency .dropdown-menu,
.lan .dropdown-menu{
    top: -6px !important;
    min-width: initial;
}
.lan .nav-link{
    background-image: url(../images/ico-lang.png);
    background-position: -6px -233px;
}
.lan .nav-link,
.lan .dropdown-item{
    background-repeat: no-repeat;
}
.lan .dropdown-item:nth-child(1){
    background-image: url(../images/ico-lang.png);
    background-position: -10px -46px;
}
.lan .dropdown-item:nth-child(2){
    background-image: url(../images/ico-lang.png);
    background-position: -10px -85px;
}
.lan .dropdown-item:nth-child(3){
    background-image: url(../images/ico-lang.png);
    background-position: -10px -5px;
}
.lan .dropdown-menu a,
.currency .dropdown-menu a{
    font-size: 12px;
    line-height: 16px;
}
.navWrap{
    width: 100vw;
    background: var(--primary-color);
    height: 60px;
    z-index: 1111;
}
.navWrap.position-fixed{
    top: 0;
}
.navWrap .navbar{
    width: 1140px;
    margin: 0 auto;
    z-index: 1111;
}
.navbar .navbar-brand{
    display: none;
}
.navbar .collapse button{
    background-color: #193028;
}
/* visual  */
.visual video{
    width: 100vw;
}
.visual{
    position: relative;
}
.visual .txt{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.visual form .adult,
.visual form .child{
    width: 66px;
    height: 30px;
}
/* container  */
.container .package{
    position: absolute;
    font-size: 14px;
    /* z-index: 1; */
    width: 50px;
    height: 50px;
    background: var(--primary-color);
}
.container .card-img img{
    transition: 0.5s ease-in-out;
}
.container .card-img:hover img{
    transform: scale(1.05);
}
.container .card{
    cursor: pointer;
}
.container .card p{
    font-size: 14px;
}
.container .card-text{
    height: 193px;
}
.container .card-text > span:nth-child(2):after{
    content: "";
    display: block;
    width: inherit;
    height: 1px;
    background: #000;
}
.container .card h5{
    font-size: 16px;
}
.container .card h5:after{
    content: "";
    display: block;
    width: inherit;
    height: 1px;
    background: #000;
    margin: 30px 0;
}
/* slide  */
.rooms{
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.slide{
    width: 100%;
    background: #f9f9f9;
}
.slide .carousel-control-next-icon{
    background-image: url(../images/btn_right.png);
    width: 50px;
    height: 50px;
}
.slide .carousel-control-prev-icon{
    background-image: url(../images/btn_left.png);
    width: 50px;
    height: 50px;
}
.slide .carousel-indicators{
    left: initial;
    margin-right: 13.7%;
    z-index: initial;
}
.slide .carousel-indicators li{
    width: 20px;
    background-color: #333;
}
.slide #carousel{
    width: 1140px;
    overflow: hidden;
    margin: 0 auto;
}
.slide .carousel-inner img{
    width: 700px;
}
.slide .carousel-inner .txtWrap{
    right: 40px;
    top: 30%;
    width: 400px;
}
.slide .carousel-inner .txtWrap .bar{
    height: 1px;
    width: 150px;
    background: #333;
}

.slide .carousel-inner .txt{
    width: 300px;
}
.slide .carousel-item .carousel-caption{
    left: 16px;
    right: initial;
    bottom: 0;
    padding: 0;
    z-index: initial;
}
.slide .carousel-inner .img .title{
    display: none;
}
.slide .carousel-control-prev,
.slide .carousel-control-next{
    width: initial;
}


/* introduction */
.introduction .img-view{
    position: relative;
    height: 400px;
}
.introduction .img-view img{
    position: absolute;
}
.introduction .img-1st{
    width: 500px;
    right: 0;
    top: 0;
}
.introduction .img-2nd{
    width: 350px;
    bottom: 0;
    left: 0;
}
.introduction .facilities .img-1st{
    left: 0;
    right: initial;
}
.introduction .facilities .img-2nd{
    right: 0;
    left: initial;
}
.introduction .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #DFBF9F;
}
.introduction .icon img{
    width: 50px;
}

/* rewards */
.lottehotelRewards{
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.rewards{
    background: #f9f9f9;
}
.rewards .rewardsBtn{
    margin: 0 auto;
}
.rewards .btn{
    width: 260px;
    height: 50px;
}
.rewards .btn:hover{
    background: #193028;
    color: white;
}


/* btn top  */
.scrollTop{
    background: #193028;
    font-weight: bold;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    position: fixed;
}
@media screen and (max-width:768px) {
    .navbar .navbar-brand{
        display: block;
    }
    .topWrap{
        display: none;
    }
    .navWrap .navbar{
        width: initial;
    }
    .navbar{
        background: #AD9E87;
    }
    .visual video{
        height: 100vh;
        object-fit: fill;
        top: 0;
        left: 0;
    }

    .slide #carousel{
        width: initial;
    }
    .slide .carousel-inner .txtWrap{
        display: none;
    }
    .slide .carousel-inner .img img{
        width: 100vw;
    }
    .slide .carousel-inner .img .title{
        display: block;
        width: inherit;
        height: 40px;
        background: var(--primary-color);
        position: absolute;
        top: 0;
    }
    .slide .carousel-inner .img h5{
        font-size: 14px;
        line-height: 40px;
        padding: 0 5px;
    }
    .slide .carousel-control-next,
    .slide .carousel-control-prev{
        display: none;
    }
    .slide .carousel-indicators{
        left: 0;
    }

    /* introduction  */
    .introduction .facilities .img-1st{
        right: 0;
        left: initial;
    }
    .introduction .facilities .img-2nd{
        left: 0;
        right: initial;
    }
    .introduction .row .txt{
        display: flex;
        align-items: center;
        text-align: center;
    }





    
}