@charset "utf-8";

body{font-family: 'Nanum Gothic', sans-serif;}

/* top  */
#headerWrap{height: 157px;}
.topWrap{background-color: #0044AF;height: 40px;}
.topWrap .top{width: 1200px;margin: 0 auto;}

.top .selctBtn{float: left;}
.top .selctBtn li{
    float: left;background-color: #00163B;
    width: 120px;line-height: 40px;text-align: center;
    margin-right:2px; 
}
.top .selctBtn a{color:white;display: block;}
.top .selctBtn a:hover{background-color: white;color: black;transition: 0.3s;}
/* .top .selctBtn a:active{background: white;} */

.top .util{float: right;font-size: 12px;}
.top .util li{float: left;margin-left: 10px;
    line-height: 40px;
}
.top .util li:nth-child(2) a{float: left;margin-right: 2px;}
.top .util a{color:white;display: block;}

/* nav  */
.nav{width: 1200px;margin: 0 auto;}
.logo{float: left;height: 118px;display: flex;justify-content: center;align-items: center;}
.gnb{float: right;}
.gnb li{float: left;margin-left: 32px;line-height: 118px;}

/* content  */
#contentWrap{
    height: 1308px;width: 100%;
    background-image: url(../images/배경01.jpg);background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
#contentWrap .content1{width: 1200px;margin: 0px auto;}
#contentWrap .content1 .txt{color:white;float: left;padding: 59.5px 0;letter-spacing: -5px;}

#contentWrap .content1 ul{float: right;}
#contentWrap .content1 ul>li{float: left;text-align: center;padding: 74px 0px 74px 18px;}
#contentWrap .content1 ul a{color:white;}

#contentWrap .content2{width: 1200px;margin: 0 auto;}

#contentWrap .content2 li:nth-child(1){width: 75%;position: relative;height: 450px;overflow:hidden;}
#contentWrap .content2 li:nth-child(1) img{width:1269px;height:847px;position: absolute;top: -250px;right: -130px;}
#contentWrap .content2 li:nth-child(1) .txt{position: absolute;top:80px;left: 80px;}
#contentWrap .content2 li:nth-child(1) .txt h1{font-size: 74px;font-weight: lighter;color: #1551b7;padding-bottom: 26px;}
#contentWrap .content2 li:nth-child(1) .txt p{
    font-size: 16px;border: 1px solid #000;
    background-color: #192D4E;color:white;
    text-align: center;width: 176px;line-height: 40px;
}




